.app-brand {
	display: block;
	font-size: map-get($text_sizes, big);

	&:hover {
		text-decoration: none;
	}

	&__logo {
		max-width: 100%;
		max-height: 100%;
	}

	// Elements
	&__name, &__logo {
		display: block;
	}

	// Modifiers
	&--inline {
		.app-brand__name, .app-brand__logo {
			display: inline-block;
		}
	}

	@include media( large-down ){
		font-size: map-get($text_sizes, regular);
	}

	@include media( small-down ){
		&__name, &--inline .app-brand__name { display: none; }
	}
}

.image-box {
	display: block;
	padding: .5rem;
	background: $color_white;
	border: 1px solid map-get(map-get($colors_map, grey), lightest);
}

//Sectors

.main--fixed{
	padding-top: 120px;
	&_mobile{
		@include media (tablet-down){
			padding-top: 56px;
		}
	}
}

.horizon{
	position: relative;
	margin: 0 0 2rem;
	//elements
	&__title{
		font-size: 1.5rem;
		margin: 0 0 2rem;
	}
	&__subtitle{
		font-size: 1.25rem;
		line-height: 1.25rem;
		margin: 1rem 0 .5rem;
	}
	&__minititle{
		display: block;
		margin: 0 .5rem .25rem;
	}
	&__featuring{
		background: $color_grey_lighter;
		overflow: hidden;
	}
	&__excerpt{
		@include get-text-size($base_font_size, $size_6);
	}
	//modifiers
	&--main{
		margin: 0 0 2rem;
	}
}

.collapse{
   &:not(:last-child){
      margin: 0 0 .25rem;
   }
	&__deployer{
		width: 100%;
		padding: 1rem;
		border: none;
		border-radius: 0;
		background-color: $color_main_regular;
		color: $color_white;
		font-size: $size_12;
		line-height: $size_12;
      position: relative;
      text-align: left;
		&:after{
			@include get-icon($icon-chevron_bold_down);
         position: absolute;
         font-size: 1rem;
         height: 100%;
			top: 0;
         right: 1rem;
         display: flex;
         align-items: center;
         justify-content: center;
         @include rotate-x(0);
      }
      &:focus{outline: none}
      &.active{
         &:after{@include rotate-x(180deg);}
      }
   }
   &__body{
      display: none;
      padding: 1rem 2rem;
      &.active{display: block }
   }
}

.child-list{
	border: 1px solid red;
	margin: 0;
	padding: 0;
	list-style: none;
	&__item{
		position: relative;
		padding-left: 1.5rem;
		margin: 0 0 1rem;
		display: block;
		&:last-child{
			margin: 0;
		}
		&.current{
			color: $color_secondary_regular;
			&:before{
				position: absolute;
				left: 0;
				@include get-icon($icon-play_arrow);
			}
		}
	}
}

.sticky-side{
	margin-top: 1rem;
}

.link{
	color: $color_main_regular;
	text-decoration: none;
	font-weight: $weight_semibold;
	font-size: $size_14	;
	line-height: 1.2;
	position: relative;
	&--more{
		padding-right: 1.75rem;
		&:after{
			// content: "\e315\e315\e315";
			// font-family: $font_ketchup;
			content: ">>>";
			// @include get-icon($icon-angle-double-right);
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&--view{
		padding-right: .75rem;
		color: $color_main_regular !important;
		&:after{
			// content: "\e315\e315\e315";
			// font-family: $font_ketchup;
			content: ">";
			// @include get-icon($icon-angle-double-right);
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.ghost-link{
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
	z-index: 2;
}

.text-uppercase{
	text-transform: uppercase;
}

.container--fluid {
	width: 100%!important;
	position: relative;
}

.row_absolute {
	position: absolute;
	width: 100%;
}

.bullets-container-out {
	position: relative!important;
}

.font-color-white {
	color: #fff!important;
}

.gutter-horizontal-double {
	padding-left: 2rem!important;
	padding-right: 2rem!important;
}

@media screen and (max-width:900px) {
	.gutter-horizontal-double {
		padding-left: 1rem!important;
		padding-right: 1rem!important;
	}

	.col-absolute {
		position: absolute;
	}

	.bg-dark-transparent {
		background-color: rgba(51, 51, 51, .5)!important;
	}
}

.form-control__container {
	position:relative
}

.form-control__addon {
	font-family:material-ketchup!important;
	speak:none;
	font-style:normal;
	font-weight:600;
	font-variant:normal;
	text-transform:none;
	vertical-align:middle;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	position:absolute;
	right:5px;
	top:50%;
	font-size:2rem;
	line-height:1;
	transform:translateY(-50%);
	color:#54c9e8;
}

table td {
  border-bottom: 2px solid #f0f0f0;
  vertical-align: middle;
}

.box__meta__content {
  position: relative;
  padding-left: 2.5rem;
}

.box__meta__content:before {
  content: "";
  font-family: material-ketchup;
  font-size: inherit;
  line-height: 1.4;
  font-family: material-ketchup!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 2rem;
  line-height: 1;
  transform: translateY(-50%);
  color: #54c9e8;
}

.button--rectangle {
  padding: 1rem 3rem!important;
}

.dates-container {
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 2!important;
}

.slider__dates {
	cursor: pointer;
	display: inline-block;
	padding: 1rem;
	width: fit-content;
}

.slider__date {
	border-bottom: .1rem solid #000;
	color: #000;
	font-size: 18px;
	margin: 0 -.135rem;
	opacity: .5;
	padding: 0 1rem;
	@include media (medium-down){
		padding: 0 .5rem;
		font-size: 1rem;
	}
	&.slider__bullet--current {
		background: none!important;
		border-bottom: none;
		box-shadow: 0 .25rem 0 0 #54c9e8;
		color: #000;
		font-size: 20px;
		font-weight: bold;
		opacity: 1;
		text-decoration: none;
	}
	&:hover {
		color: #000;
		opacity: 1;
		text-decoration: none;
	}
	&--prev:before {
		content: "\e314";
	  font-size: 2rem;
	  line-height: 1;
	  // color: #54c9e8;
	}
	&--next:before {
		content: "\e315";
		font-size: 2rem;
		line-height: 1;
		// color: #54c9e8;
	}
	&--prev, &--next {
		border-bottom: none;
		font-size: inherit;
		line-height: 1.4;
		font-family: material-ketchup!important;
		speak: none;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&:hover {
			box-shadow: none;
		}
	}
}

.container__brands {
	position: absolute;
	z-index: 2;
	top: 0;
}

.slider__brands {
	cursor: pointer;
}

.slider__brand {
	border-bottom: .25rem solid #000;
	color: #000;
	font-size: 18px;
	opacity: .5;
	&:hover {
		color: #000;
		opacity: 1;
		text-decoration: none;
	}
	&.slider__bullet--current {
		background: none!important;
		border-color: #54c9e8;
		// box-shadow: 0 .25rem 0 0 #54c9e8;
		color: #000;
		font-size: 20px;
		font-weight: bold;
		opacity: 1;
		text-decoration: none;
	}
}

.repo-sidebar{
	position: relative;
	width: 100%;
	&.is_stuck{ z-index: 3 }
	&.fixed{
		z-index: 4;
		position: fixed;
		top: 3.5rem;
		height: 100vh;
		@include media (tablet-down){
			left: 0;
			width: 100% !important;
		}
	}
	&__filtrar{
		position: relative;
		background: transparent;
		width: 100%;
		padding: .5rem;
		background: $color_white;
		text-align: center;
		color: $color_dark;
		font-weight: $weight_bold;
		&:focus{ outline: none; }
		.icon{
			margin-left: .5rem;
			&:after{
				@include get-icon($icon-chevron_bold_down);
				position: absolute;
			}
		}
		&.deployed{
			border-color: $color_dark;
			box-shadow: 1px 2px 10px rgba($color_dark, .5);
			@include transitional;
			.icon{
				&:after{
					transform: rotateX(180deg);
					@include transitional;
				}
			}
		}
	}
	&__menu{
		padding: 0;
		margin: 0;
		list-style-type: none;
		background: $color_white;
		overflow: hidden;
		@include media (tablet-up){
			overflow-y: auto;
		}
		@include media (tablet-down){
			position: absolute;
			height: 0;
			top: 100%;
			left: 0;
			width: 100%;
			&.deployed{
				box-shadow: 1px 2px 10px rgba($color_dark, .5);
				padding: 1rem;
				overflow: hidden;
				// min-height: 400px;
				height: 400px;
				overflow-y: auto;
				z-index: 4;
			}
		}
		&__item{
			margin: 0;
			padding: .75rem .25rem;
			a{
				color: $color_dark;
				font-family: $font_sans;
				font-weight: normal;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					color: $color_main_regular;
				}
			}
			>a{
				font-size: 1rem;
				transition: 0s;
			}
			.repo-sidebar{
				&__submenu{
					display: none;
					list-style-type: square;
					&__item{
						>a{
							font-size: $size_14;
							font-weight: normal;
							transition: 0s;
						}
					}
				}
			}
			&.active{
				>a{
					font-weight: $weight_bold;
					transition: 0s;
				}
				.repo-sidebar{
					&__submenu{
						display: block;
						&__item{
							&.active>a{
								font-weight: $weight_bold;
								transition: 0s;
							}
						}
					}
				}
			}
			&.current{
				>a{
					font-weight: $weight_bold;
					transition: 0s;
				}
			}
			+.repo-sidebar__menu__item{
				border-top: 1px solid $color_dark;
			}
		}
	}
}
.repo-horizonte{
	&:not(:last-child){
		margin-bottom: 2rem;
	}
}

.repo-pagina{
	&:not(:last-child){
		margin-bottom: 4rem;
	}
	.horizon__title.hide{
		display: block !important;
	}
}