.single{
	//HEADER
	&__header{
		margin: 2rem 0;
	}
	&__meta{
		font-size: $size_12;
		line-height: 1.2;
		a{
			color: $color_main_regular;
		}
	}
	&__title{
		font-size: 2rem;
		line-height: 2.5rem;
		margin: 1rem 0;
		&--serif{
			font-family: $font_serif;
		}
		&--italic{
			font-family: $font_serif;
			font-style: italic;
		}
		@include media (tablet-down){
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
	}
	&__info{
		font-size: $size_12;
		color: $color_grey_regular;
	}
	&__author{
		color: $color_secondary_regular;
	}

	//CONTENT
	&__thumbnail{
		margin: 0 0 1rem;
	}
	&__excerpt{
		@include get-text-size($size_18);
		font-style: italic;
		margin: 0 0 1rem;
		// &::first-letter{
		// 	font-size: 3rem;
		// 	@include media (tablet-down){
		// 		font-size: 1.5rem;
		// 	}
		// }
		p{
			margin: 0 0 1rem;
			&:last-child{
				margin: 0;
			}
		}
	}
	//THE CONTENT
	&__content{
		@include get-text-size($size_16, $size_8);
		margin: 0;
		>p{
			margin: 0 0 1rem;
			&:last-child{
				margin: 0;
			}
		}
		>blockquote{
			margin: 1.5rem 0 2rem;
			font-weight: $weight_light;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		>ul,ol{
			margin: 1rem 0;
		}
		>ol{
			@include order-list;
		}
		>ul{
			@include unordered-list;
		}
		>table{
			border: 1px solid $color_border;
			font-family: $font_sans;
			font-weight: $weight_regular;
			margin: 0;
			th{
				background: $color_main_regular;
				font-size: $size_14;
				font-weight: $weight_bold;
				padding: .75rem;
			}
			td{
				font-size: $size_12;
				padding: .5rem;
			}
			th,td{min-width: 12rem;}
		}
		>p+figure{
			margin-top: 2rem;
		}
		>figure{
			margin: 1rem 0;
			figcaption{
				background: rgba($color_main_regular, .75);
				padding: 1rem 2rem;
				color: $color_white;
			}
		}
	}
	&__table{
		&__scroll{
			overflow-y: auto;
			-webkit-overflow-scrolling: auto;
		}
		&__message{
			@include media (tablet-up){
				display: none;
			}
			@include media (tablet-down){
				display: flex !important;
			}
			width: 100%;
			flex-direction: column;
			align-items: center;
			margin-top: 1rem !important;
			font-size: $size_12;
			&:before{
				content: '';
				display: block;
				width: 2rem;
				height: 2rem;
				background: transparent url($ikons_path + '/dark/icon-swipe.svg') no-repeat;
			}
		}
	}
	&__iframe{
		position: relative;
		height: 0;
		overflow: hidden;
		cursor: pointer;
		margin: 0 0 1rem;
		&:last-child{margin: 0;}
		&.wide {padding-bottom: 50%;}
		&.normal {padding-bottom: 75%;}
		// &:after{
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: rgba(red, .5);
		// 	z-index: 2;
		// }
		iframe {
         overflow: scroll;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			@include media ($deploy_nav) {
				-webkit-overflow-scrolling: touch;
			}
		}
		&:hover{
			&:after{
				height: 0;
				transition: .1s;
			}
		}
	}
	&__download{
		border-bottom: 1px solid $color_border;
		display: flex;
		align-items: center;
		width: 100%;
		padding: .25rem 0;
		padding-left: 2rem;
		position: relative;
		margin: 0 0 .5rem;
		&:last-child{
			margin: 0;
		}
		&:before{
			@include get-icon($icon-file);
			position: absolute;
			top: 0; left: .25rem;
			height: 100%;
			color: $color_main_regular;
			@include flex-col-center-all;
		}
		&__body{
			flex: 1;
		}
		&__title{
			margin: 0 0 .25rem;
			font-size: 1rem;
			font-weight: $weight_bold;
			a{
				color: $color_dark;
				&:hover{ color: $color_main_regular; }
			}
		}
		&__info{
			margin: 0;
			font-size: $size_12;
			color: $color_grey_regular;
		}
		&__button{
			@include reset-appearance;
			background: $color_main_regular;
			width: 2rem; height: 2rem;
			@include transitional;
			&:after{
				@include get-icon($icon-arrow_downward);
				color: $color_white;
				width: 100%; height: 100%;
				@include flex-col-center-all;
			}
			&:hover{
				background: $color_main_dark;
				@include transform(scale(1.05));
				@include transitional;
			}
		}
	}
}