<section class="horizon horizon--normal">
  <div class="container">
    <div class="row bg-light-grey">
      <form [formGroup]="searchForm" (ngSubmit)="submitSearch(searchForm, $event)" class="flex-wrap no-border" novalidate>
        <div class="gr-6 prefix-1 gr-7@large prefix-0@large gr-12@medium gutter-double gutter@medium flex flex-center">
          <input type="text" id="term" name="term" class="form-control__field" placeholder="Buscar..." formControlName="search_input">
        </div>
        <div class="gr-4 gr-12@medium suffix-1 gr-5@large suffix-0@large gutter-double gutter@medium font-centered" *ngIf="temp == ''">
          <div class="box__action no-margin">
            <button type="submit" class="button button--main button--full-width" [disabled]="searchForm.pristine || searchForm.invalid">Filtrar</button>
          </div>
        </div>
        <div class="gr-2 gr-6@medium gr-2@large gutter-double gutter@medium font-centered" *ngIf="temp != ''">
          <div class="box__action no-margin">
            <button type="submit" class="button button--main button--full-width" [disabled]="searchForm.pristine || searchForm.invalid">Filtrar</button>
          </div>
        </div>
        <div class="gr-2 gr-6@medium suffix-1 gr-2@large suffix-0@large gutter-double gutter@medium font-centered" *ngIf="temp != ''">
          <div class="box__action no-margin">
            <button type="button" class="button button--ghost-dark button--full-width" (click)="$event.preventDefault(); data = temp; temp = []; searchForm.reset()">Borrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="horizon horizon--normal" *ngIf="data">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="data == ''">
        <div class="gr-12 font-centered">{{ no_results }}</div>
      </ng-container>
      <div class="gr-3 suffix-1 gr-4@large suffix-0@large gr-12@tablet">
        <section class="repo-sidebar" [attr.data-sidebar-role]="'sticky-sidebar'">
          <button class="repo-sidebar__filtrar show@tablet" (click)="toggleMenu()" data-func="toggleTarget" data-target=".repo-sidebar__menu">Filtrar <span class="icon"></span></button>

          <ul class="repo-sidebar__menu" [attr.data-sidebar-menu]="'collapsable-menu'">
            <ng-container *ngFor="let page of data">
              <li class="repo-sidebar__menu__item" [attr.data-item-id-sidebar]="page.id" [ngClass]="{'active': selected == page.id}">
                <a href="#" title="{{ page.titulo }}" (click)="$event.preventDefault(); selected = page.id">{{ page.titulo }}</a>
                <ng-container *ngFor="let horizon of page.horizontes">
                  <ng-container *ngIf="horizon">
                    <ul class="repo-sidebar__submenu" [attr.data-horizon-id-sidebar]="page.id + '_' + horizon.titulo.split(' ').join('')">
                      <li class="repo-sidebar__submenu__item">
                        <a href="#" (click)="scrollTo(page.id, horizon.titulo, $event)" title="#">{{ horizon.titulo }}</a>
                      </li>
                    </ul>
                  </ng-container>
                </ng-container>
              </li>

            </ng-container>
          </ul>
        </section>
      </div>
      <div class="gr-8 gr-12@tablet">
        <ng-container *ngFor="let page of data">
          <section class="repo-pagina" [attr.data-page-id]="page.id">
            <h2 class="horizon__title heels-small">{{ page.titulo }}</h2>
            <ng-container *ngFor="let horizon of page.horizontes">
              <ng-container *ngIf="horizon">
                <section class="repo-horizonte" [attr.data-section-role]="'padded-section'" [attr.data-horizon-id]="page.id + '_' + horizon.titulo.split(' ').join('')">
                  <h2 class="horizon__subtitle">{{ horizon.titulo }}</h2>
                  <div class="row">
                    <ng-container *ngFor="let doc of horizon.documentos">

                      <div class="gr-6 gr-12@tablet">
                        <article class="box box--documento">
                          <div class="box__body">
                            <p class="box__meta">{{doc.mes}}</p>
                            <p class="box__tax">{{doc.tipo.slug}}</p>
                            <h3 class="box__title">{{doc.titulo}}</h3>
                            <div class="box__excerpt">
                              <p>{{doc.archivo.filename}}</p>
                            </div>
                            <div class="box__action">
                              <a href="{{doc.archivo.url}}" class="link link--download" title="{{doc.archivo.url}}" download="">
                                <span class="link__title">Descargar PDF</span>
                                <span class="link__weight">{{doc.archivo.filesize/1024 | number : '1.2-2'}} Kb</span>
                              </a>
                            </div>
                          </div>
                        </article>
                      </div>

                    </ng-container>
                  </div>
                </section>
              </ng-container>
            </ng-container>
          </section>
        </ng-container>
      </div>
    </div>
  </div>
</section>
