.ng-invalid.ng-touched {
  border-color: red;
  color: red;
}

.button--disabled, .button--disabled[class*="--ghost"], .button[disabled] {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.repo-sidebar__menu {
  height: calc(100% - 80px);
  overflow-y: auto;
}

.repo-sidebar__menu.collapsed {
  overflow-y: auto;
  position: unset;
}

.repo-sidebar {
  // position: -webkit-sticky;
  // position: sticky;
  // top: 50px;
  // max-height: 100vh;
  // overflow: auto;
}

// .fixed {
//   position: fixed;
//   top: 50px;
//   z-index: 99999999;
// }

@media screen and (max-width: 768px) {
  // .fixed {
  //   position: fixed;
  //   top: 60px;
  //   z-index: 99999999;
  // }
}
// .sticky-stuck {
  // padding-top: 43px;
// }
