//////////////////////////////////
////////////////////////////////// Blocks
//////////////////////////////////
body {
   &.deployed--nav { overflow: hidden }
}


a {
   @include transitional;
   &:hover { @include transitional }
}

figure { margin: 0}

ul,
ol {
   margin: 1rem 0;
   padding-left: 1rem;
}

hr.separator{
	border-color: rgba(#cdcdcd, 1);
	width: calc(100% - 1rem);
	margin: 1rem auto;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .5rem;
	@include media (tablet-down) {
		padding: 0 1rem;
	}

	>.row {
		@include media (tablet-up) {
			margin: 0 -.5rem;
			width: calc(100% + 1rem);
			max-width: calc(100% + 1rem);
		}
		&.margin-top{ margin-top: 2rem }
		&.margin-bottom{ margin-bottom: 2rem }
		&--min{
			@include media (tablet-up) {
				margin: 0 -1px;
				width: calc(100% + 1px);
				max-width: calc(100% + 1px);
			}
		}
	}
}
.row{
	&.clean{
		margin: 0 !important;
	}
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid red;
}
.wrapper{
	margin: 1.5rem 0;
	overflow: hidden;
}

.icon{
	&-main{
		color: $color_main_regular;
	}
	&-secondary{
		color: $color_secondary_regular;
	}
	&-base{
		color: $color_base;
	}
	&-white{
		color: $color_white;
	}
	&-rounder{
		border-radius: 50%;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 50000s ease-in-out 0s;
}

.gr-middle {
	display: flex;
	align-items: center;
	flex-direction: row;

	>* {
		width: 100%;
		max-width: 100%;
	}
}

.row {
	flex: 0 0 auto;
}

.elastic-img {
	display: block;
	max-width: 100%;
	height: auto;
}

.logo-img {
  display: block;
  max-height: 120px;
  width: auto;
  max-width: 250px;
}

.cover-img {
	display: block;
	width: 100%;
	height: auto;
}

.cover-object {
	@extend .cover-img;
	object-fit: cover;
	display: block;
	min-width: 100%;
	height: auto;
}

.cover-fit {
	object-fit: cover;
	display: block;
	min-width: 100%;
	height: auto;
}

.file-img {
	max-width: 60%;
	margin: 0 15%;
	display: inline-block;
}

.content-box {
	padding: 1rem;
	margin: 1rem 0;
	background: $color_white;
	border: 1px solid map-get(map-get($colors_map, grey), lighter);
	border-radius: $base_border_radius;

	&:only-child {
		margin: 0;
	}
}

.rounded-img {
	border-radius: 50%;
}

.tooltip{
   @include media (tablet-up){position: relative;}
   overflow: visible;
	cursor: pointer;
	display: inline-block;
	color: $color_main_regular;
	position: relative;
	font-size: 10px;
	top: 0;
   &__message{
      @include get-text-size($size_10);
      font-family: $font_sans;
      padding: .5rem;
      border-radius: .25rem;
      background: $color_dark;
		color: $color_white;
		text-align: left;
      position: absolute;
		left: 50%;
		bottom: calc(100% + .5rem);
		transform: translateX(-50%);
		display: none;
		min-width: 15rem;
		z-index: 9;
		@include transitional;
		a{color: $color_white}
		&:before{
			content: '';
			position: absolute;
			bottom: -.5rem;
			transform: translateX(-50%);
			left: 50%;
         width: 0px;
         height: 0px;
         border-left: .5rem solid transparent;
         border-right: .5rem solid transparent;
			border-top: .5rem solid $color_dark;
		}

		@include media (tablet-down){
			min-width: 10rem;
		}
	}
	&.active{
		.tooltip{
			&__message{
				display: block;
			}
		}
	}
}

.mq {
   background: $color_secondary_regular;
   text-align: center;
   color: white;
   padding: 1rem 0;
   text-transform: uppercase;
   position: fixed;
   left: 0;
   z-index: 666;
   bottom: 0;
   width: 100%;
   flex-direction: row;
   display: flex;
   align-items: center;
   justify-content: center;

   [data-check-width] {
      margin-left: 2rem;
      background: red;
   }
}

.title {
	font-weight: $weight_extrabold;
	text-transform: uppercase;
	line-height: 1.2;
	&-main {
		@extend .title;
		font-size: $size_48;
		@include media (tablet-down){
			font-size: $size_36;
		}
	}

	&-huge {
		@extend .title;
		font-size: $size_36;
		@include media (tablet-down){
			&:not(.single__title){
				font-size: $size_32;
			}
		}
	}

	&-big {
		@extend .title;
		font-size: $size_32;
		@include media (tablet-down){
			font-size: $size_28;
			&:not(.single__title){
				font-size: $size_28;
			}
		}
	}

	&-medium {
		@extend .title;
		font-size: $size_28;
		@include media (tablet-down){
			font-size: $size_24;
			&:not(.single__title){
				font-size: $size_24;
			}
		}
	}

	&-small {
		@extend .title;
		font-size: $size_24;
		@include media (tablet-down){
			font-size: $size_20;
		}
	}

	&-tiny {
		@extend .title;
		font-size: $size_20;
		@include media (tablet-down){
			font-size: $size_18;
		}
	}
}

.text{
	font-size: $size_16;
	line-height: 1.8;
	&-medium {
		line-height: 1.8;
		font-size: $size_18;
	}

	&-small {
		line-height: 1.8;
		font-size: $size_14;
	}

	&-tiny {
		line-height: 1.8;
		font-size: $size_12;
	}

	&-min {
		line-height: 1.8;
		font-size: $size_10;
	}
}

.w-thin{ font-weight: 100 }
.w-light{ font-weight: 300 }
.w-regular{ font-weight: 400 }
.w-medium{ font-weight: 500 }
.w-semibold{ font-weight: 600 }
.w-bold{ font-weight: 700 }
.w-extrabold{ font-weight: 800 }
.w-black{ font-weight: 900 }


//////////////////////////////////
////////////////////////////////// Typoraphy
//////////////////////////////////
// font styles
.font-line-through {
	text-decoration: line-through;
}

.font-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

// font alignments
.font-centered {
	text-align: center;
}

.font-lefted {
	text-align: left;
}

.font-righted {
	text-align: right;
}

//float alignments
.float-center {
	margin-left: auto;
	margin-right: auto;
}

// font sizes
@each $size_key,
$size_val in $text_sizes {
	.font-size-#{$size_key} {
		font-size: $size_val;
	}
}

// font colors
@each $type,
$colors in $colors_map {

	@each $shade,
	$code in $colors {
		.font-color-#{$type}-#{$shade} {
			color: $code;
		}
	}
}

//////////////////////////////////
////////////////////////////////// Helper classes
//////////////////////////////////
// backgrounds and borders
@each $type,
$colors in $colors_map {

	@each $shade,
	$code in $colors {
		.bg-#{$type}-#{$shade} {
			background: $code;
		}
	}
}

.bg {
	&-light {
		background: $color_light ;
	}

	&-white {
		background: $color_white ;
	}

	&-gray {
		background: $color_grey_regular ;
	}

	&-dark {
		background: $color_dark ;
	}

	&-black {
		background: $color_black ;
	}

	&-main {
		background: $color_main_regular ;
		color: $color_white;
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	zoom: 1;

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

//////////////////////////////////
////////////////////////////////// Media helpers
//////////////////////////////////
@each $media_name,
$media_size in $medias_map {
	.hide {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: none ;
			}
			&-up{
				@include media (#{$media_name}-up) {
					display: none ;
				}
			}
		}
	}

	.show {
		&b\@#{$media_name} {
			@include media (#{$media_name}-up) {
				display: none;
			}
			@include media (#{$media_name}-down) {
				display: block;
			}
		}

		&f\@#{$media_name} {
			@include media (#{$media_name}-down) {
				display: flex;
			}

			@include media (#{$media_name}-up) {
				display: none;
			}
		}
	}
}

////////////////////
//common helpers////
///////////////////
textarea {
	resize: none;
}

.text-upper {
	text-transform: uppercase;
}

.text-lower {
	text-transform: lowercase;
}

.text-capital {
	text-transform: capitalize;
}

.no-gutter {
	padding: 0 ;

	&-vertical {
		padding-top: 0 ;
		padding-bottom: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0 ;
					padding-bottom: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
						padding-bottom: 0 ;
					}
				}
			}
		}
	}

	&-horizontal {
		padding-left: 0 ;
		padding-right: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0 ;
					padding-right: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0 ;
						padding-right: 0 ;
					}
				}
			}
		}
	}

	&-top {
		padding-top: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0 ;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 0 ;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 0 ;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 0 ;
				}
			}
		}
	}
}

.gutter {
	padding: .5rem ;

	&-vertical {
		padding-top: .5rem ;
		padding-bottom: .5rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem ;
					padding-bottom: .5rem ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem ;
						padding-bottom: .5rem ;
					}
				}
			}
		}
	}

	&-horizontal {
		padding-left: .5rem ;
		padding-right: .5rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem ;
					padding-right: .5rem ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem ;
						padding-right: .5rem ;
					}
				}
			}
		}
	}

	&-top {
		padding-top: .5rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem ;
					}
				}
			}
		}
		&-double{
			padding-top: 1rem ;
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-top: 1rem ;
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-top: 1rem ;
						}
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: .5rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: .5rem ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: .5rem ;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: .5rem ;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: .5rem ;
				}
			}
		}
	}
	&-left{
		&-double{
			padding-left: 2rem ;
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 2rem ;
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: 2rem ;
						}
					}
				}
			}
		}
		&-triple{
			padding-left: 3.5rem ;
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 3.5rem ;
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: 3.5rem ;
						}
						@include media (#{$media_name}-down) {
							padding-left: 0 ;
						}
					}
				}
			}
		}
	}
	&-right{
		&-double{
			padding-right: 2rem ;
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 2rem ;
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-right: 2rem;
						}
						@include media (#{$media_name}-down) {
							padding-right: .5rem;
						}
					}
				}
			}
		}
		&-triple{
			padding-right: 3rem ;
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 3rem ;
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-right: 3rem ;
						}
					}
				}
			}
		}
	}
}

.space {
	&-bottom {
		margin-bottom: 2rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 2rem ;
				}
			}
		}
	}

	&-top {
		margin-top: 2rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 2rem ;
				}
			}
		}
	}
}

.margin {
	&-bottom {
		margin-bottom: 1rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 1rem ;
				}
			}
		}
	}

	&-top {
		margin-top: 1rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 1rem ;
				}
			}
		}
	}

	&-left {
		margin-left: 1rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 1rem ;
				}
			}
		}
	}

	&-right {
		margin-right: 1rem ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-right: 1rem ;
				}
			}
		}
	}
}

.no-margin {
	margin: 0 ;

	&-vertical {
		margin-top: 0 ;
		margin-bottom: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0 ;
					margin-bottom: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0;
						margin-bottom: 0 ;
					}
				}
			}
		}
	}

	&-horizontal {
		margin-left: 0 ;
		margin-right: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 0 ;
					margin-right: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-left: 0 ;
						margin-right: 0 ;
					}
				}
			}
		}
	}

	&-top {
		margin-top: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0 ;
					}
				}
			}
		}
	}

	&-bottom {
		margin-bottom: 0 ;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 0 ;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-bottom: 0 ;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				margin: 0 ;
			}

			&-up {
				@include media (#{$media_name}-up) {
					margin: 0 ;
				}
			}
		}
	}
}

.no-radius {
	border-radius: 0;
}

.no-border {
	border: 0;
}

.click-handler {
	z-index: 5;
	@extend .icon;
	@extend .icon-chevron_down;
	@include rotate-x(0);
}

.flex {
	display: flex;

	&-col {
		@extend .flex;
		flex-direction: column;

		&-reverse {
			@extend .flex-col;
			flex-direction: column-reverse;
		}

		&-middle {
			@extend .flex-col;
			@extend .flex-middle;
		}
	}

	&-row {
		@extend .flex;
		flex-direction: row;

		&-reverse {
			@extend .flex-row;
			flex-direction: row-reverse;
		}
	}

	&-start {
		@extend .flex;
		align-items: flex-start;
	}

	&-end {
		@extend .flex;
		align-items: flex-end;
	}

	&-middle {
		@extend .flex;
		align-items: center;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					align-items: center;
				}
			}
		}
	}

	&-right {
		@extend .flex;
		justify-content: flex-end;
	}

	&-center {
		@extend .flex;
		justify-content: center;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					justify-content: center;
				}
			}
		}
	}

	&-left {
		@extend .flex;
		justify-content: flex-start;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					align-items: flex-start;
				}
			}
		}
	}

	&-start {
		@extend .flex;
		justify-content: flex-start;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					display: flex;
					justify-content: flex-start;
				}
			}
		}
	}

	&-space-arnd {
		@extend .flex;
		justify-content: space-around;
	}

	&-space-btwn {
		@extend .flex;
		justify-content: space-between;
	}
}

.more-footer {
	margin: 2rem 0 0;
}

.flex-list {
	display: flex;
	flex-wrap: wrap;

	@each $l in $grid_map {
		&-#{$l} {
			.flex-list__item {
				width: 100%;
				max-width: calc(100% / #{$l})
			}

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						.flex-list__item {
							width: 100%;
							max-width: calc(100% / #{$l})
						}
					}
				}
			}
		}
	}

	&-1 {

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					flex-direction: column;

					.flex-list__item {
						max-width: 100% ;
					}
				}
			}
		}
	}
}

.flex-row {
	display: flex;

	@for $l from 2 to 6 {
		&-#{$l} {
			$margin: calc(1rem * (#{$l} - 1));
			$width: calc((100% - #{$margin}) / #{$l});

			.flex-col {
				width: $width;

				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}
}

.air{
	@each $media_name,$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				margin: 0 .5rem ;
				padding: .625rem ;
			}
		}
	}
}


.searching {
   opacity: .25;
   pointer-events: none;

   .button--refresh {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
   }
}

@-webkit-keyframes rotating

/* Safari and Chrome */
   {
   from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes rotating {
   from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
