[data-horizon].current{
	.grid-item:not(.opening):not([data-grid-num="1"]):not(.open-grid){
		position: relative;
		overflow: hidden;
		// .box.box--grid.box--expand{
		// 	&:not(.expanding):not(.box--main)[style*="background"]{
		// 		animation-name: pulse_animation;
		// 		animation-duration: 4000ms;
		// 		transform-origin: 70% 70%;
		// 		animation-iteration-count: infinite;
		// 		animation-timing-function: linear;
		// 	}
		// }
		// .box.box--grid:not(.blocked), .box.box--block:not(.blocked){
		// 	animation-name: pulse_animation;
		// 	animation-duration: 5s;
		// 	transform-origin: 70% 70%;
		// 	animation-iteration-count: infinite;
		// 	animation-timing-function: ease-in-out;
		// }
	}	
}

.animain .horizon {
	&.wait {
		[data-reveal] {
			@include media (tablet-up){
				opacity: 0;
			}
		}
	}
	&.listening {
		[data-reveal="fade-right"] {
			@include fadeOutRight( $duration: .5s, $count: 1, $delay: .25s);
		}
		[data-reveal="fade-right-slow"] {
			@include fadeOutRight( $duration: .5s, $count: 1, $delay: 0);
		}
	}
	&.current {
		&:not(.visited) [data-reveal="fade-up"] {
			@include fadeInUp( $duration: .5s, $count: 1, $delay: .25s);
		}
	}
	&.visited {
		&:not(.swaped) {
			&:not(.listening) [data-reveal] {
				opacity: 1 !important;
			}
		}
		&.swaped [data-reveal="fade-up"] {
			@include fadeInUp( $duration: .5s, $count: 1, $delay: .25s);
		}
	}
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	25% { transform: scale(1.01); }
	50% { transform: scale(1); }
	75% { transform: scale(1.01); }
	100% { transform: scale(1);  }
}