@media screen and (max-width: 900px) {
	.box--square-resp {
		padding: 0;
	}
}

@media screen and (min-width: 900px) {
	.bottom-content {
		position: absolute;
		bottom: 0;
	}
}

.grid-item--position__unset {
	position: unset;

	&.closed-grid:not(.open-grid) {
		overflow: hidden;
		.box{
			height: auto;
			&__head{
				height: auto;
			}
		}
	}
	&.open-grid{
		.box.growing{
			box-shadow: 2px 2px 10px rgba($color_black, 1);
			@include media (tablet-down){border: 1px solid rgba($color_white, .1);}
		}
		@include media (tablet-down){
			position: relative;
		}
	}
}

.grid--position__relative {
	position: relative;
}

.box__body--adapter {
	min-height: max-content;
	justify-content: center;
	background-color: unset !important;
	background-size: cover;
	background-repeat: no-repeat;
	.body{
		&__veil{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color_dark, .7);
			background-blend-mode: multiply;
			z-index: 1;
			+.row{
				z-index: 2;
				padding: 2rem 0;
				.box{
					&__body{
						&__close{
							color: $color_white;
							&:after{
								color: $color_white;
							}
						}
					}
					&__title{
						font-size: $size_18;
					}
					&__title, &__excerpt{
						color: $color_white;
					}
				}
			}
		}
	}
}

.font-justified {
	text-align: justify;
}

a.link-decorated {
	text-decoration: underline;
}

.no-wspace {
	white-space: nowrap;
}

.box__graphics--custom {
	margin-top: 0 !important;
	border-top: 0 !important;
	flex-wrap: nowrap !important;
}

table td {
	border-bottom: 1px solid #f0f0f0;
	vertical-align: middle;
}

table tr:nth-child(2n) {
	background: #fff;
}


.box{
	&__meta__content {
		position: relative;
		padding-left: 2.5rem;

		&:before {
			font-family: material-ketchup !important;
			speak: none;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			left: 0;
			top: 50%;
			font-size: 2rem!important;
			line-height: 1;
			-webkit-transform: translateY(-25%);
			-moz-transform: translateY(-25%);
			-ms-transform: translateY(-25%);
			transform: translateY(-25%);
			color: $color_main_regular;
		}
		&__pdf {
			&:before {
				@include get-icon($icon-file-pdf-o);
			}
		}
		&__doc, &__html {
			&:before {
				@include get-icon($icon-file-o);
			}
		}
		&__mp4 {
			&:before {
				@include get-icon($icon-file-video-o);
			}
		}
	}
	&__meta__download{
		text-decoration: none;
		color: $color_dark;
		&:hover{
			color: $color_main_regular;
			text-decoration: none;
		}
	}
	&__meta{
		&__info{
			font-size: $size_10;
			margin: 0 0 .25rem;
		}
		&__title{
			font-size: $size_14;
			line-height: 1.2;
			margin: 0 0 .5rem;
		}
		&__details{
			font-size: $size_12;
			padding-left: 2.5rem;
		}
		&__info,&__details{
			line-height: 1;
			display: block;
		}
	}
	&--search {
		& .box__meta {
			font-size: .75rem;
			line-height: 1.2;
			letter-spacing: 5px;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.form-control {
	&__container {
		position: relative;
	}

	&__addon {
		font-family: material-ketchup !important;
		speak: none;
		font-style: normal;
		font-weight: 600;
		font-variant: normal;
		text-transform: none;
		vertical-align: middle;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		right: 5px;
		top: 50%;
		font-size: 2rem;
		line-height: 1;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		color: $color_main_regular;
	}
}

.button--rectangle {
	padding: 1rem 3rem !important;
}

.gutter {
	&-vertical {
		&-double {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

.takeoff {
	&__excerpt {
		column-count: 2;
		p {
			margin: 0;
			break-after: column;
		}
	}
}

.link-black {
	color: #000;
	&:hover, &:focus, &:active {
		color: #54c9e8;
	}
}
