
body{
	background: $color_white;
	color: $color_base;
	&.modal-open, &.nav-open, &.kit-open{ overflow: hidden }
	&.scrolled{
		.nav-bar{
			&__internal{
				background: $color_white;
				@include media ($deploy_nav_up){
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					box-shadow: 0px 2px 10px rgba($color_dark, .5);
					transition: 0s;
				}

				@include media ($deploy_nav){
					position: relative;
				}
			}
		}
	}
}

*::selection{
	background: $color_main_regular;
	color: $color_white;
}
main {
	overflow: hidden;
	background: $color_white;
	z-index: 2;
	position: relative;
	&.free{ overflow: visible; max-width: 100%; }
   @include media ($deploy_nav) { margin-top: 3.5rem }
}
.container{
	position: relative;
	&--main{
		max-width: 1400px;
		@include media ($deploy_nav_up){ padding: 0 }
	}
	&--float{
		position: absolute;
		max-width: 100%;
		width: 100%;
		z-index: 1;
		+*{
			z-index: 2;
		}
		&-full{
			@extend .container--float;
			min-height: 100%;
			height: 100%;
			top: 0;
			left: 0;
			.row{
				position: relative;
				height: 100%;
				width: calc(100% + 1rem);
				&--absolute{
					position: absolute;
					top: 0;
					left: 0;
					>[class^='gr']{
						position: relative;
						overflow: hidden;
						.float__square{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
	}
	&.full-height{
		height: 100%;
	}
}

.nice-title{
	font-size: $size_18;
	line-height: 1.2;
	font-weight: $weight_bold;
	letter-spacing: .7px;
	color: $color_white;
	position: relative;
	padding-bottom: .5rem;
	text-transform: uppercase;
	margin: 0;
	&:after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		max-width: 6rem;
		bottom: 0;
		left: 0;
		background: $color_white;
	}
	+.box__excerpt{
		margin: 1.5rem 0 0;
	}
}

.title-decorated{
	font-size: $size_28;
	line-height: 1.2;
	padding-bottom: .75rem;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 5rem;
		background: $color_white;
	}
	&-dark{
		@extend .title-decorated;
		&:after{ background: $color_dark }
	}
}

//*------*//
//*HEADER*//
//*------*//

.header-bar{
	position: relative;
	@include media ($deploy_nav){ position: fixed }
}
//*genérico*/
body.search-body .header-bar{ box-shadow: none }


//*-------*//
//*CONTENT*//
//*-------*//


.box{
	&__excerpt,p{
		font-size: $size_14;
		letter-spacing: .6px;
		line-height: 1.6;
		>p{
			margin: 0 0 1rem;
			&:last-child{
				margin: 0;
			}
			+{
				h1,h2,h3,h4,h5{
					margin-top: 2rem;
				}
			}
			em{
				line-height: 1.6;
			}
		}
		>h3{
			font-size: $size_24;
		}
		>h4{
			font-size: $size_20;
		}
		>h5{
			font-size: $size_18;
		}
		>h6{
			font-size: $size_16;
		}
	}

	&__downloads{
		@include reset-list;
		margin: 1.25rem 0;
		li{ padding-left: 1.5rem }
	}
	&__download{
		position: relative;
		margin: 0 0 1rem;
		&:last-child{ margin: 0 }
		a{
			color: $color_white;
			font-size: $size_14;
			font-weight: $weight_medium;
			line-height: 1.2;
			text-decoration: underline;
			&:hover{ text-decoration: none }
		}
		&:before{
			@include get-icon($icon-download);
			position: absolute;
			left: 0; top: 4px;
			font-size: 1rem;
			line-height: 1;
		}
	}

	&__title{
		a{
			display: inline-block;
		}
		&.title-decorated{
			@extend .title-decorated;
		}
	}

	&__counter{
		display: inline-block;
		font-size: $size_32;
		line-height: 1;
		letter-spacing: 1.3px;
		color: $color_dark;
		margin: 0 0 .75rem;
	}

	&__table{
		td{
			padding: 1rem;
			min-width: 25rem;
			font-size: $size_14;
			&.box__head{
				min-width: 6rem;
			}
			&.box__meta{
				min-width: 12rem;
				// padding-left: 3rem;
			}
		}
	}

	&__enlaces{
		padding: 0 0 0 1.5rem;
		.box{
			&__enlace{
				margin: 0 0 .5rem;
				&:last-child{ margin: 0 }
				a{
					color: $color_dark;
					font-size: $size_14;
					&:hover{ color: $color_main_regular }
				}
			}
		}
	}

	&--main{
		.box{
			&__body{
				padding: 3rem;
				opacity: 1;
				@include media (large-down){ padding: 2rem }
			}
			&__title{
				font-size: $size_40;
				font-weight: $weight_bold;
				letter-spacing: 1.6px;
				text-transform: uppercase;
				margin: 0;
				+.box__excerpt{
					margin: 1.75rem 0 0;
				}
			}
			&__excerpt{
				p{
					margin: 0 0 1rem;
					&:last-child{ margin: 0 }
				}
			}
		}
		&--pilar{
			.box{
				&__body{
					opacity: 1;
				}
				&__title{
					@extend .nice-title;
				}
			}
		}
	}

	&--square{
		padding: 5rem 0;
		.box{
			&__title{
				position: relative;
				font-size: $size_32;
				font-weight: $weight_bold;
				letter-spacing: 1.3px;
				line-height: 1.2;
				margin: 0;
				text-transform: uppercase;
				+.box__excerpt{ margin: 1.75rem 0 0 }

			}
		}
		&.bg-main,&[class*="bg-dark"]{ color: $color_white }

		&.bg-img{
			background: transparent;
			padding: 7rem 0;
			color: $color_white;
		}
	}

	&--area{
		@extend .box--square;
		padding: 2rem;
		@include media (small-down){
			padding: 1rem 0;
		}

		.box{
			&__title{
				&.medium{
					font-size: $size_24;
				}
			}
		}
	}

	&--simple{
		@extend .box--square;
		padding: 2rem 0;

		.box{
			&__title{
				&.medium{
					font-size: $size_24;
				}
			}
			&__body{
				padding: 0;
			}
		}
	}

	&--graph{
		min-height: 300px;
		height: 100%;
		background: transparent;
		padding: 3rem;
		>div{
			position: relative;
			height: 100%;
		}
		>iframe{
			position: relative;
			min-height: 500px;
			width: 100%;
			@include media (tablet-down){
				min-height: 400px;
			}
		}
		@include media (large-down){
			padding: 2rem;
		}
		&--medium{
			min-height: 400px;
		}
		&--tall{
			min-height: 500px;
		}

		@include media (tablet-down){
			padding: 3rem 1rem;
			min-height: 500px;
			&--medium,&--tall{
				min-height: 500px;
			}
		}
	}

	&--bg{
		background-size: cover;
		background-repeat: no-repeat;
		.box{
			&__body{
				background: rgba($color_dark, .75);
				background-blend-mode: multiply;
				color: $color_white;
				padding: 2rem;
				@include media (small-down){ padding: 2rem 1rem }
				@include media (phablet-down){ margin: 0 }
			}
			&__title,&__excerpt{ color: $color_white }
			&__title{
				font-size: $size_20;
				line-height: 1.2;
				position: relative;
				padding-bottom: .25rem;
				text-transform: uppercase;
				margin: 0 0 1.25rem;
				&:after{
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					max-width: 6rem;
					left: 0;
					bottom: 0;
					background: $color_white;
				}
			}
		}
	}

	&--memoria{
		background: transparent;
		display: flex;
		.box{
			&__body{
				flex: 1;
				padding: 0;
			}
			&__figure{
				max-width: 40%;
				+.box{
					&__body{ margin-left: 1rem }
				}
				@include media (tablet-down){ max-width: 12rem }
			}
			&__title{
				font-size: $size_24;
				text-transform: uppercase;
			}
		}
		.button.button--ghost-white:hover{color: $color_dark}
		@include media (tablet-down){
			padding: 1rem 0;
		}
	}

	&--post, &--news, &--documento{
		padding: 1rem 0;
		@include media (tablet-down){
			border-bottom: 1px solid $color_border_light;
		}
		.box{
			&__body{
				padding: 0;
				>.box__meta{
					@include media (small-down){
						margin-top: .5rem;
					}
				}
			}
			&__meta{
				font-size: $size_12;
				line-height: 1.2;
				letter-spacing: 5px;
				margin: 0;
				text-transform: uppercase;
				+.box__title{
					margin: .5rem 0 0;
				}
			}
			&__title{
				position: relative;
				font-size: $size_14;
				line-height: 1.4;
				a{
					color: $color_dark;
					text-decoration: underline;
					&:hover{
						color: $color_main_regular;
						text-decoration: none;
					}
				}
				+.box__action,+.box__excerpt{
					margin: .5rem 0 0;
				}
			}
			&__action{
				margin: 0;
				.link{
					font-size: $size_12;
					line-height: 1.2;
					font-weight: $weight_medium;
					color: $color_dark;
					text-decoration: underline;
					&:hover{
						color: $color_dark;
						text-decoration: none;
					}
				}
			}
		}
		&--main{
			display: flex;
			border-bottom: none;
			@include media (small-down){ flex-direction: column }
			.box{
				&__head{
					margin-right: 2rem;
					@include media (small-down){ margin: 0 }
				}
				&__action{
					min-width: 14rem;
					margin: 0;
					margin-left: 2rem;
				}
				&__date{
					background: transparent;
					width: 5rem;
					height: 5rem;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					color: $color_dark;
					&__day,&__month{ font-weight: $weight_medium }
					&__day{
						font-size: $size_40;
						margin: 0 0 .25rem;
					}
					&__month{
						font-size: $size_12;
						letter-spacing: 5px;
					}
					@include media (small-down){
						width: 4rem;
						height: 4rem;
					}
				}
				&__title{
					font-size: $size_18;
					font-weight: $weight_bold;
					margin: 0 0 .5rem;
					a{
						color: $color_dark;
						&:hover{
							color: $color_main_regular;
							text-decoration: underline;
						}
					}
				}
			}
		}
		+.box--post{
			border-top: 1px solid $color_border_light;
			@include media (tablet-down){
				border-top: none;
			}
		}
	}

	&--float{
		@extend .box--square;
		position: relative;
		padding: 2rem;
		&--top{
			margin-top: 12rem;
			&.box--float--big{
				margin-top: 20rem;
			}
		}
		&--left{
			margin: 6rem 0;
		}
		&--offset{
			top: 15rem;
		}
		&--tall{
			margin: 8rem 0;
		}
		.box{
			&__title{
				font-size: $size_28;
				&:after{background: $color_dark}
			}
			&__body{
				padding: 0;
			}
		}
	}
	&--people{
		position: relative;
		margin-bottom: -3rem;
		@include media (tablet-down){
			margin-bottom: -6rem;
		}
		.box{
			&__meta{
				+.box__title{
					margin-top: 1rem;
				}
			}
			&__figure, &__body{
				max-width: calc(100% - 10rem);
				margin: 0;
				@include media (book-down){
					max-width: calc(100% - 5rem);
				}
				@include media (tablet-down){
					max-width: 100%;
				}
			}
			&__body{
				background: $color_white;
				transform: translate(0, -8rem);
				margin-left: 10rem;
				padding: 1.5rem;
				@include media (book-down){
					transform: translate(0, -8rem);
					margin-left: 5rem;
				}
				@include media (tablet-down){
					transform: translate(0, -8rem);
					margin: 0 0 0 2rem;
					max-width: calc(100% - 2rem);
					padding: 1rem;
				}
				@include media (phablet-down){
					margin: 0 0 0 1rem;
					max-width: calc(100% - 1rem);
				}
			}
			&__meta,&__title{
				text-transform: uppercase;
			}
			&__meta{
				font-size: $size_18;
				line-height: 1.2;
				font-weight: $weight_regular;
				letter-spacing: .5px;
				margin: 0;
				+.box__title{
					margin: .5rem 0 0;
				}
			}
			&__title{
				font-size: $size_24;
				line-height: 1.4;
				font-weight: $weight_bold;
				margin: 0;
				+.box__excerpt{
					margin: 1rem 0 0;
				}
			}
			&__excerpt{
				font-size: $size_14;
				line-height: 1.5;
				letter-spacing: 0;
				p{
					&:not(:last-child){ margin: 0 0 .5rem }
					>a{
						color: $color_dark;
						text-decoration: none;
						&:hover{
							color: $color_main_regular;
							text-decoration: underline;
						}
					}
				}
			}
		}
		&.medium-height{
			.box{
				&__figure{
					max-height: 500px;
					overflow: hidden;
				}
			}
		}
	}
	&--media{
		max-width: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		>video{
			max-height: 400px;
			width: 100%;
			object-fit: cover;
		}
		.video{
			&__control{
				position: absolute;
				width: 100%;
				height: 100px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				align-items: center;
				justify-content: center;
				&__deployer{
					border-radius: 50%;
					background: transparent;
					box-shadow: 2px 2px 10px $color_dark;
					border: 5px solid $color_white;
					width: 5rem;
					height: 5rem;
					&:focus,&:hover,&:active{ outline: none }
					&:after{
						@include get-icon($icon-play);
						font-size: 2rem;
						color: $color_white;
					}
					&.playing{
						opacity: 0;
						transition: .5s;
						&:after{
							@include get-icon($icon-pause);
							font-size: 2rem;
							color: $color_white;
						}
					}
				}
			}
		}
	}
	&--calendar{
		@extend .box--post;
		padding: 2rem;
		margin: 0;
		@include media (small-down){
			padding: 2rem 1rem;
		}
		&--highlight{
			@extend .box--post--main;
			margin-top: 0;
			background: $color_main_regular;
			color: $color_white;
			+.box--calendar{
				border-top: none;
			}
			.box{
				&__date{
					color: $color_white;
				}
			}
		}
		.box{
			&__title{
				font-size: $size_18;
				font-weight: $weight_bold;
			}
			&__meta{
				+.box__title{
					margin-top: .75rem;
				}
			}
		}
		+.flex-center{
			border-top: 1px solid $color_border_light;
		}
	}
	&--side{
		padding: 0;
		max-width: 100%;
		overflow: hidden;
		+.box{
			margin-top: 2rem;
		}
		.box{
			&__title{
				@extend .title-decorated;
				font-size: $size_28;
				letter-spacing: 1px;
				text-transform: uppercase;
				+.box__excerpt{
					margin-top: 1rem;
				}
				&:after{
					background: $color_dark;
				}
			}
			&__excerpt{
				+.form--newsletter{
					margin-top: 1rem;
					background: transparent;
				}
			}
			&__body{
				padding: 0;
			}
		}
		.form-parent{
			padding: 0;
			background: transparent;
			margin: 0;
		}
	}
	&--news, &--documento{
		padding: 1rem;
		position: relative;
		.box{
			
			&__action{
				margin-top: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.link.link--view{
					text-decoration: none;
					font-weight: $weight_bold;
					&:hover{
						text-decoration: underline;
						color: $color_main_dark !important;
					}
				}
			}
			&__date{
				background: transparent;
				font-size: $size_12;
				color: $color_base;
				padding: 0;
				&:before{
					@include get-icon($icon-calendar);
					margin-right: .5rem;
				}
			}
			&__title{
				text-decoration: none;
				font-size: $size_18;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				+.box__{
					margin-top: 1rem;
				}
			}
			&__meta{
				+.box__title{
					margin-top: 1rem;
				}
			}
			&__excerpt{
				position: relative;
				+.box__action{
					margin-top: 1rem;
				}
			}
			&__body{
				position: relative;
			}
		}
		&--highlight{
			display: flex;
			flex-direction: row;
			background: $color_main_regular;
			color: $color_white;
			padding: 0;
			@include media (tablet-down){
				flex-direction: column;
			}
			.box{
				&__figure{
					flex: 2;
					max-width: 40%;
					overflow: hidden;
					@include media (tablet-down){
						max-width: 100%;
					}
				}
				&__body{
					flex: 3;
					padding: 2rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				&__title{
					font-size: $size_22;
				}
				&__title,&__meta,&__date,&__action{
					color: $color_white !important;
					a,.link.link--view{ color: $color_white !important }
				}
				&__action{
					.link.link--view{
						&:hover{
							color: $color_white !important;
						}
					}
				}
			}
		}
		&:not(.box--news--highlight){
			.box{
				&__body{
					padding: 1rem;
					background: $color_white;
					z-index: 3;
				}
			}
			&:before{
				content: '';
				width: calc(100% - 3rem);
				height: calc(100% - 3rem);
				position: absolute;
				left: 0;
				bottom: 0;
				background: $especial_ice_blue;
				z-index: 1;
			}
		}
	}
	&--documento{
		@include media (tablet-down){
			border-bottom: none;
		}
		.box{
			&__title{
				font-size: $size_14;
				text-transform: uppercase;
				margin: .5rem 0;
			}
			&__meta{
				font-size: $size_14;
				font-weight: $weight_bold;
				line-height: 1.2;
				margin: 0 0 .25rem;
				letter-spacing: unset;
			}
			&__tax{
				font-size: $size_12;
				font-weight: $weight_regular;
				text-transform: uppercase;
				color: #858585;
				margin: 0 0 .25rem;
			}
			&__excerpt{
				font-size: $size_14;
				line-height: 1.2;
				font-weight: $weight_regular;
				margin: 0 0 .25rem;
			}
			&__action{
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-bottom: -2rem;
				.link{
					display: flex;
					flex-direction: column;
					border: 1px solid $color_dark;
					padding: 1rem;
					padding-left: 3rem;
					text-decoration: none;
					position: relative;
					background: $color_white;
					&__title{
						margin: 0 0 2px;
						font-weight: $weight_bold;
						text-transform: uppercase;
					}
					&:before{
						@include get-icon($icon-file-pdf-o);
						color: $color_dark;
						position: absolute;
						left: .75rem;
						top: .95rem;
						font-size: 1.75rem;
						line-height: 1;
					}
					&:hover{
						background: $color_main_regular;
						border-color: $color_main_regular;
						color: $color_white;
						&:before{
							color: $color_white;
						}
					}
				}
			}
		}
	}
	+.box--side{
		margin-top: 3rem;
	}
}

.calendar-box{
	+.box{
		margin-top: 3rem;
	}
}


.horizon{
	margin: 0;
	background: $color_white;
	&:not(.horizon--main):not(.horizon--overlay):not(.horizon--bg){
		padding: 3rem 0;
	}
	&:not(.open){
		z-index: 3;
	}
	&--float.open{
		z-index: 5;
	}
	&__title{
		font-size: $size_32;
		font-weight: $weight_bold;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0;
		+.horizon__excerpt{ margin: 1rem 0 0 }
		@include media (small-down){ font-size: $size_28 }
	}
	&__excerpt{
		font-size: $size_14;
		line-height: 1.6;
		+.horizon__action{
			margin: 1rem 0 0;
		}
	}
	&__logo{
		padding: .5rem .5rem 2rem;
	}
	&__body{
		padding: 2rem;
		background: transparent;
	}
	&__figure{
		position: relative;
		overflow: hidden;
	}
	&--float{
		position: relative;
		padding: 7rem 0;
		+.horizon--float{
			padding-top: 0;
		}
		@include media (tablet-down){
			padding: 3rem 0;
			&:first-child{
				padding-top: -5rem;
			}
		}
		.horizon__bg{
			height: 100%;
			min-height: 500px;
			background-position: left top;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			@include media (tablet-down){
				width: 100%; left: 0;
				opacity: .75;
			}
		}
	}
	&--marcas{
		position: relative;
		padding: 4rem 0;
		margin: 4rem 0;
		z-index: 3;
		background: $color_white;
		@include media (tablet-down){
			margin: 0;
			&:last-child{
				padding-bottom: 8rem;
			}
		}

		.horizon--marcas{
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	&--main{
		margin: 0;

		.grid{ background: $color_main_regular }
	}
	&--simple{
		padding: 6rem 0 0;
	}
	&--normal{
		padding: 6rem 0;
	}

	&--header{
		padding: 4rem 0 0;
		@include media ($deploy_nav){ padding: 2rem 0 0 }

		@include media (small-down){ padding: 1rem 0 0 }
	}

	&--content{
		padding: 1.5rem 0;
		@include media (small-down){ padding: 1.5rem 0 3rem }
	}

	&--bg{
		position: relative;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		.horizon{
			&__veil{
				padding: 6rem 0;
				background: rgba($color_dark, .75);
				background-blend-mode: multiply;
				color: $color_white;
			}
		}
	}

	&--overlay{
		position: relative;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 0;
		min-height: 35rem;
		display: flex;
		.horizon{
			&__veil{
				display: flex;
				align-items: center;
				background: rgba($color_dark, .1);
				width: 100%;
				color: $color_white;
			}
		}
	}

	&--composition{
		padding: 6rem 0;
	}
}

.takeoff{
	@include media (small-down){ margin: 0 -.5rem }
	.takeoff{
		&__head{
			margin-bottom: -5rem;
			@include media (book-down){
				margin-bottom: -3rem;
			}
			@include media (tablet-down){
				margin-bottom: 2rem;
			}
			@include media (small-down){
				margin-bottom: 0;
			}
		}
		&__title{
			@extend .title-decorated;
			text-transform: uppercase;
			font-size: $size_28;
			margin: 0;
			&:after{background: $color_dark}
			&.inverted{
				text-align: right;
				&:after{
					left: auto;
					right: 0;
				}
				@include media (small-down){
					text-align: left;
					&:after{
						left: 0;
						right: auto;
					}
				}
			}
			@include media (small-down){
				margin: 1rem 0;
			}
		}
		&__excerpt{
			background: $color_white;
			padding: 1.5rem;
			font-size: $size_14;
			line-height: 1.6;
			&.row{
				padding: 1rem !important;
				margin: 0 !important;
			}
			@include media (small-down){
				padding: .5rem 1rem;
				background: transparent;
			}
		}
	}
}

.float{
	&__square{
		background: $color_gray;
		&.bg-img{
			position: relative;
			background-repeat: no-repeat;
			background-position: left top;
			background-size: cover;
			background-blend-mode: multiply;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, rgba($color_dark, .25), rgba($color_dark, 1));
			}
		}
		&[data-role="dinamic-image"]{
			width: 100%;
			height: 100%;
			background-size: cover;
		}
	}
	&__image{
		position: relative;
		width: 100%;
		img{
			position: absolute;
			width: 100%;
		}
		&.middle{
			top: 50%;
			transform: translateY(-50%);
			img{
				top: 50%;
				transform: translateY(-50%);
			}
		}
		@include media (tablet-down){
			margin: 0 auto;
			padding: 0;
			margin-top: -4rem;
			&:not(.full){
				max-width: 400px;
			}
			&.full,&.full img{
				top: 0;
				transform: none;
			}
			img{
				position: relative;
			}
		}
	}
}

.main{
	&__top{
		overflow: hidden;
		position: relative;
		min-height: 600px;
		height: 70vh;
		&__bg{
			z-index: 1;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			background-position: left top;
			height: calc(100vh);
			min-height: 300px;

			@include media (tablet-down){
				background-attachment: initial;
				background-position: center;
				position: fixed;
				height: 100%;
				width: 100%;
				top: 0;
				z-index: 1;
			}
		}
		&__body{
			@include overlay;
			background-blend-mode: multiply;
			background: linear-gradient(to bottom, rgba($color_dark, .25), rgba($color_dark, .625));
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $color_white;
			z-index: 3;
		}
		&__content{
			max-width: 35rem;
			margin: 0 auto;
			text-align: center;
		}
	}
	&__title{
		font-size: $size_40;
		line-height: 1.2;
		text-transform: uppercase;
		+.main__excerpt{ margin: 0 0 1.5rem }
		@include media (phablet-down){ font-size: 2rem }
	}
	&__excerpt{
		font-size: 1rem;
		line-height: 1.6;
		margin: 0;
	}
}

.title{
	&-center{
		text-align: center;
	}
}

.text{
	&-center{
		text-align: center;
	}
}

.button{
	border-radius: 0;
	font-size: $size_14;
	font-weight: $weight_medium;
	letter-spacing: .6px;
	text-transform: uppercase;
	padding: 1rem 1.25rem;
	&:hover{
		background: $color_main_regular;
		color: $color_white;
	}

	&--main{
		&:hover{
			background: $color_main_dark;
			border-color: $color_main_dark;
		}
		&--ghost{
			color: $color_white;
			background: $color_main_light;
			border-color: $color_white;
		}
	}
	&--full{
		width: 100%;
		max-width: 20rem;
	}
	&--filter{
		padding: .5rem 1rem;
		width: 100%;
		max-width: 20rem;
	}
	&--ghost{
		&-white{
			&:hover{
				color: $color_main_regular;
				background: $color_white;
			}
		}
	}
}

.minibanner{
	&__info,&__mensaje{
		display: flex;
		justify-content: center;
		padding: 3rem 1rem;
		@include media ($deploy_nav){
			padding: 1.5rem;
		}
	}
	&__info{
		background: $color_light_main;
		flex-direction: row;
		@include media ($deploy_nav){
			flex-direction: column;
		}
		@include media (tablet-down){
			padding: .5rem 1.5rem;
		}
		&__col{
			flex: auto;
			position: relative;
			padding: 0 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include media ($deploy_nav){
				padding: 1rem 0;
			}
			&:not(:last-child):after{
				content: '';
				position: absolute;
				height: 100%;
				width: 2px;
				top: 0;
				right: 0;
				background: $color_main_regular;
				@include media ($deploy_nav){
					width: 100%;
					height: 2px;
					top: auto;
					bottom: 0;
					left: 0;
				}
			}
		}
		p{
			+.minibanner__title{
				margin-top: 1rem;
			}
		}
		&.hide{
			display: none;
		}
	}
	&__title{
		font-size: 2rem;
		font-weight: $weight_bold;
		color: $color_main_regular;
		margin: 0;
		text-transform: uppercase;
		+p{
			margin: 1rem 0 0;
		}
	}
	&__mensaje{
		background: $color_main_regular;
		color: $color_white;
		@extend .box__excerpt;
		margin: 0;
	}
}


.stickit{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translate(100%, -50%);
	min-height: 250px;
	z-index: 999;
	transition: 600ms ease-in-out;
	width: calc(100% - 6rem);
	margin-left: auto;
	background: $color_dark;
	max-width: 1024px;
	&__deployer{
		@include reset-button;
		position: absolute;
		font-size: $size_16;
		font-weight: $weight_semibold;
		letter-spacing: .6px;
		text-transform: uppercase;
		background: $color_main_regular;
		color: $color_white;
		padding: 1rem 1rem 1.5rem;
		transform: translate(0, 200%) rotate(-90deg);
		box-shadow: 0 1px 10px 1px black;
		@include transitional;
		&:after{
			content: '';
			position: absolute;
			top: 2.5rem;
			left: 1rem;
			height: 1px;
			width: calc(100% - 2rem);
			background: $color_white;
		}
		&:hover{
			background: $color_main_darker;
			@include transitional;
		}
	}
	&__closer{
		@include reset-button;
		position: absolute;
		width: 2rem;
		height: 2rem;
		color: $color_white;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include transitional;
		&:after{
			@include get-icon($icon-close);
			color: $color_white;
			font-size: 1.5rem;
		}
		&:hover{
			background: $color_main_regular;
			@include transitional;
		}
	}
	&__body{
		padding: 3rem;
		@include media (phablet-down){ padding: 2rem 1rem }
	}
}
@include media (small-up){
	.stickit{
		transform: translate(100%, -50%);
		width: calc(100% - 3rem);
		box-shadow: 1px 2px 10px rgba($color_dark, .5);
		@include transitional;
		&__deployer{
			transform: translate(-8rem, 200%) rotate(-90deg);
			@include transitional;
		}
		&.deployed{
			transform: translate(0, -50%);
			@include transitional;
			.stickit{
				&__deployer{ box-shadow: none }
			}
		}
	}
}

body.scrolled{

	@include media (small-down){
		.stickit{
			transform: translate(0, 100%);
			width: 100%;
			box-shadow: 1px 2px 10px rgba($color_dark, .5);
			@include transitional;
			&__deployer{
				transform: translate(-50%, -2.75rem) rotate(0deg);
				left: 50%;
				box-shadow: 0 1px 10px 1px black;
				@include transitional;
			}
			&.deployed{
				transform: translate(0, 0);
				@include transitional;
			}
		}
	}
}
.stickit{
	@include media (small-down){
		transform: translate(0, 100%);
		width: 100%;
		left: 0;
		top: auto;
		bottom: 0;
		max-height: calc(100vh - 6rem);
		@include transitional;
		&__deployer{
			transform: translate(-50%, -2.75rem) rotate(0deg);
			left: 50%;
			font-size: $size_12;
			padding: 1rem;
			padding-right: 2rem;
			box-shadow: 0 1px 10px 1px black;
			min-width: 12rem;
			@include transitional;
			&:after{
				top: 2rem;
			}
			&:before{
				@include get-icon($icon-menu);
				position: absolute;
				right: .85rem;
				top: .75rem;
				font-size: .85rem;
			}
		}
		&.deployed{
			transform: translate(0, 0);
			.stickit{
				&__deployer{
					box-shadow: 0 1px 10px 1px black;
					&:before{
						content: $icon-close;
					}
				}
			}
		}
	}
}

.slider{
	&--blocks{
		.slider{
			&__arrows{
				width: 10rem;
				z-index: 3;
				margin-left: auto;
				top: 0;
				transform: none;
				position: relative;
				padding: .5rem 1rem;
				@include media (large-down){ padding: .5rem }
				@include media (medium-down){ padding: .5rem 0 }
				@include media (tablet-down){
					margin-left: 0;
					width: 100%;
				}
			}
			&__arrow{
				width: 50%;
				border: 1px solid $color_white;
				background: $color_dark;
				padding: .5rem;
				font-size: 2rem;
				&--next{
					border-left: none;
					&:before{ content: $icon-caret-right }
				}
				&--prev{
					&:before{ content: $icon-caret-left }
				}
				&:hover{
					background: $color_white;
					color: $color_dark;
				}
				@include media (medium-down){ padding: 0 }
				@include media (tablet-down){
					width: 3rem;
					height: 3rem;
				}
			}
			&__bullet{
				width: 12px;
				height: 12px;
				border: none;
				background: rgba($color_dark, .5);
				margin-right: 1rem;
				&:last-child{
					margin-right: 0;
				}
				&--current{
					background: $color_dark;
				}
				@include media (tablet-down){
					width: 1rem;
					height: 1rem;
				}
			}
			&__bullets{
				left: 0;
				z-index: 3;
				position: relative;
				padding: 1rem;
				@include media (tablet-down){
					text-align: center;
					padding: .5rem 0;
				}
				&.light{
					.slider__bullet{
						background: rgba($color_white, .5);
						&--current{
							background: $color_white;
						}
					}
				}
			}
		}

		.arrows-container{
			position: absolute;
			top: 0;
			height: auto;
			left: 0;
			width: 100%;
			@include media (tablet-down){
				top: auto;
				bottom: 13rem;
				transform: none;
				z-index: 3;
			}
		}

		.bullets-container{
			// position: absolute;
			// bottom: 0;
			// height: auto;
			// left: 0;
			// width: 100%;
			@include media (tablet-down){ top: 51% }
			@include media (small-down){ top: 54% }
		}
	}
	&--single{
		width: calc(100% + 3rem);
		max-width: calc(100% + 3rem);
		margin: 0 -2rem;
		@include media (container-down){
			width: 100%;
			max-width: 100%;
			margin: 0;
		}
		.slider{
			&__slide{
				padding: 0 1.5rem;
				@include media (container-down){
					padding: 0;
				}
			}
			&__arrow{
				background: $color_dark;
				color: $color_white;
				border: 1px solid $color_white;
				width: 3rem;
				height: 3rem;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				&--next{
					&:before{ content: $icon-caret-right }
				}
				&--prev{
					&:before{ content: $icon-caret-left }
				}
				@include media (small-down){
					width: 2.5rem;
					height: 2.5rem;
					font-size: 1.5rem;
				}
			}
			&__bullet{
				width: 12px;
				height: 12px;
				border: none;
				// background: rgba($color_white, .5);
				margin-right: 1rem;
				&:last-child{
					margin-right: 0;
				}
				&--current{
					// background: $color_white;
				}
				@include media (tablet-down){
					width: 1rem;
					height: 1rem;
					margin-right: .5rem;
					&:last-child{
						margin-right: 0;
					}
				}
			}
			&__bullets{
				// position: absolute;
				// bottom: 0;
				text-align: center;
			}
		}
	}
	&--timeline{
		.slider{
			&__dates{
				top: 0;
				z-index: 5;
			}
		}
		@include media (medium-down){
			display: flex;
			flex-direction: column-reverse;
			.slider{
				&__dates{
					position: relative;
				}
			}
			.box{
				&--square{
					padding-top: 1rem;
				}
			}
		}
	}
}

.aside{
	&__date{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

.single{
	&__thumbnail{
		margin: 0;
	}
	&__date{
		text-align: right;
		padding: 0 1rem 0 0;
		border-right: 3px solid $color_main_regular;
		@include media (small-down){
			text-align: left;
			padding: 0;
			margin: 0 0 1.25rem;
			display: inline-flex;
			align-items: center;
			border: none;
			border-bottom: 3px solid $color_main_regular;
		}
		&__day{
			font-size: $size_60;
			line-height: 1;
			font-weight: $weight_semibold;
			margin: 0 0 1rem;
			@include media (tablet-down){ font-size: $size_32 }
			@include media (small-down){
				margin: 0;
				font-size: $size_24;
			}
		}
		&__month, &__year{
			font-size: $size_16;
			line-height: 1.2;
			text-transform: uppercase;
			display: block;
			@include media (small-down){ margin-left: .5rem }
		}
	}
	&__body{
		padding: 6rem;
		padding-bottom: 0;
		background: $color_white;
		transform: translateY(-6rem);
		@include media (large-down){
			padding: 4rem;
		}
		@include media (medium-down){
			padding: 3rem;
		}
		@include media (tablet-down){ padding: 3rem 2rem }
		@include media (small-down){
			padding: 0;
			transform: none;
		}
	}
	&__header{
		margin: 0 0 2rem;
	}
	&__meta{
		font-size: $size_24;
		line-height: 1.2;
		text-transform: uppercase;
		@include media (small-down){ font-size: $size_18 }
	}
	&__title{
		font-size: $size_40;
		line-height: 1.4;
		font-weight: $weight_bold;
		text-transform: uppercase;
		@include media (small-down){
			font-size: $size_32;
			margin: .75rem 0 1rem;
		}
	}
	&__subtitle{
		font-size: $size_32;
		line-height: 1.4;
		font-weight: $weight_bold;
		letter-spacing: 1.2px;
		margin: 0 0 1rem;
	}
	&__excerpt{
		font-size: $size_16;
		line-height: 1.5;
		margin: 0;
		font-style: normal;
	}
	&__content{
		>p{
			margin: 0 0 1rem;
			font-size: $size_14;
			line-height: 1.5;
			&:last-child{
				margin: 0;
			}
			+{
				h2,h3,h4{
					margin: 2rem 0 1.5rem;
				}
			}
		}
		>{
			h2,h3,h4{
				text-transform: uppercase;
			}
		}
	}
	&__table__scroll{
		display: block;
		width: 100%;
	}
}

.persona{
	&__body{
		background: $color_white;
		padding: 6rem;
		max-width: calc(100% + 6rem);
		width: calc(100% + 6rem);
		transform: translate(-6rem, 6rem);
		@include media (large-down){
			padding: 4rem;
			max-width: calc(100% + 4rem);
			width: calc(100% + 4rem);
			transform: translate(-4rem, 4rem);
		}
		@include media (medium-down){
			padding: 3rem;
			max-width: calc(100% + 3rem);
			width: calc(100% + 3rem);
			transform: translate(-3rem, 3rem);
		}
		@include media (tablet-down){
			padding: 2rem;
			max-width: 100%;
			width: 100%;
			transform: translate(0, -12rem);
			margin-bottom: -14rem;
		}
		@include media (small-down){
			padding: 2rem 0 0;
		}
	}
	&__profile{
		margin-right: 6rem;
		background: $especial_ice_blue;
		color: $color_main_regular;
		padding: 2rem;
		@include media (large-down){
			margin-right: 4rem;
		}
		@include media (medium-down){
			margin-right: 3rem;
			padding: 1.5rem;
		}
		@include media (tablet-down){
			margin: -1rem 0 2rem;
		}
	}
	&__data{
		font-size: 1rem;
		line-height: 1.2;
		@include media (medium-down){
			font-size: $size_14;
		}
		&__key{
			font-weight: $weight_bold;
			text-transform: uppercase;
			margin: 0 0 .5rem;
		}
		&__value{
			+.persona__data__key{
				margin-top: 2rem;
			}
		}
	}
}

.tab{
	&__controls{
		// border: 1px solid yellow;
		position: relative;
		display: flex;
		justify-content: center;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: rgba($color_light, .1);
			z-index: 1;
		}
		@include media (small-down){
			flex-wrap: wrap;
		}
		&.flex-left{
			justify-content: flex-start;
		}
	}
	&__deployer{
		@include reset-button;
		padding: .5rem 1rem;
		position: relative;
		color: $color_dark;
		width: calc(100% / 4);
		max-width: 15rem;
		text-transform: uppercase;
		font-size: $size_18;
		font-weight: $weight_semibold;
		@include media (small-down){
			padding: .5rem .25rem;
			padding-top: 1rem;
			font-size: $size_12;
			width: 50%;
		}
		span{
			opacity: .4;
			z-index: 3;
			position: relative;
			&:not(.show\@small){ display: block }
		}
		&--mini{
			font-size: $size_12;
			width: auto;
			padding: .5rem;
		}
		&:after{
			content: '';
			position: absolute;
			height: 0;
			width: 100%;
			bottom: 0;
			left: 0;
			background: $color_main_regular;
			z-index: 2;
			@include transitional;
			@include media (small-down){
				height: 3px;;
				background: rgba($color_dark, .4);
			}
		}
		&.active, &.deployed{
			opacity: 1;
			&:after{
				height: 3px;
				@include transitional;
				@include media (small-down){ background: $color_main_regular }
			}
			span{opacity: 1;}
		}
		@include active-state{
			color: $color_white;
			span{opacity: 1;}
			&:after{
				height: 100%;
				@include transitional;
			}
		}
	}
	&__contents{
		position: relative;
		// border: 1px solid yellowgreen;
	}
	&__target{
		position: absolute;
		left: 0; top: 0;
		opacity: 0;
		width: 100%;
		height: auto;
		z-index: 1;
		padding: 1rem;
		@include transitional;
		&.active{
			opacity: 1;
			position: relative;
			z-index: 3;
			@include transitional;
		}
	}
}

.tablepress{
	&--fluid{

		th,td{
			padding: 1rem;
			min-width: 6rem;
			max-width: 12rem;
			border: none;
		}
		thead{
			th{
				background: $especial_ice_blue;
				color: $color_main_regular;
				font-size: $size_16;
				font-weight: $weight_bold;
				line-height: 1;
				text-transform: uppercase;
				vertical-align: middle;
			}
		}
		tbody{
			td{
				font-size: $size_14;
				line-height: 1.2;
				color: $color_dark;
			}
			tr{
				border-bottom: 2px solid $color_light;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		tfoot{
			tr{
				border: none;
			}
			td{
				background: rgba($especial_ice_blue, .5);
				color: $color_dark;
				font-size: $size_16;
				font-weight: $weight_bold;
				text-transform: uppercase;
			}
		}
	}
}

.paginator{
	@include reset-list;
	margin: 0;
	display: flex;
	justify-content: center;
	&__item{
		margin: 0;
		margin-right: .5rem;
		&:last-child{margin-right: 0;}
		a, span{
			width: 2rem;
			height: 2rem;
			background: $color_white;
			color: $color_base;
			border: 2px solid transparent;
			font-size: $size_20;
			line-height: 1;
			@include flex-col-center-all;
			&.no-touch:hover{
				text-decoration: none;
				color: $color_white;
				background: $color_main_regular;
			}
		}
		&.current{
			span{
				color: $color_dark;
				background: $color_white;
				font-weight: $weight_bold;
				border-bottom-color: $color_main_regular;
			}
		}
		&.prev a:after{ @include get-icon($icon-chevron-left) }
		&.next a:after{ @include get-icon($icon-chevron-right) }

		&.prev,&.next{
			a{
				background: transparent;
				color: $color_dark;
				&:after{
					color: $color_dark;
					font-size: 1.5rem;
				}
				&.no-touch:hover{
					background: $color_main_regular;
					color: $color_white;
					&:after{
						color: $color_white;
					}
				}
			}
		}
	}
}

//*----*//
//*FORM*//
//*----*//

.form-parent{
	padding: 2rem;
	background: rgba($especial_ice_blue, .5);
	@include media (small-down){
		margin: -1rem;
		padding: 1rem;
	}
}
.form-control{
	&:not(:last-child){
		margin: 0 0 2rem;
		@include media (tablet-down){
			margin: 0 0 1rem
		}
	}
	&__row{
		display: flex;
		align-items: center;
		@include media (small-down){
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__label{
		font-size: $size_16;
		font-weight: $weight_bold;
		text-transform: uppercase;
		margin: 0 0 .5rem;
	}
	&__field{
		cursor: pointer;
		border: 1px solid $color_main_regular;
		border-radius: 0;
		padding: .5rem;
		padding-right: 2rem;
		font-size: $size_14;
		@include media (tablet-down){ font-size: 1rem }
		&:focus{
			border-color: $color_dark;
		}
	}
	&__select{
		@extend .form-control__field;
		background: $color_white url($images_path + '/ketchup-icons/dark/icon-select.svg') calc(100% - .5rem) 50% no-repeat;
		background-size: 1rem;
		border-radius: 0;
	}
	&__text{
		font-size: $size_12;
	}
	&.valid-control{
		color: $color_dark;
		.form-control{
			&__text{ color: $color_dark }
			&__field{
				border-color: $color_success_regular;
				background: $color_white url($ikons_path + '/color/icon-check_bold.svg') calc(100% - .5rem) 50% no-repeat;
				background-size: 1.125rem;
				transition: 0s;
			}
		}
	}
	&.invalid-control{
		color: $color_dark;
		.form-control{
			&__text{ color: $color_dark }
			&__field{
				border-color: $color_danger_regular;
				background: $color_white url($ikons_path + '/color/icon-close_bold.svg') calc(100% - .5rem) 50% no-repeat;
				background-size: 1.125rem;
				transition: 0s;
			}
		}
	}
}

.form{
	&-switch{
		padding: 0;
		line-height: 1;
		&__label{
			margin-left: .25rem;
			font-size: $size_14;
			letter-spacing: .6px;
			@include media(tablet-down){
				font-size: $size_12;
			}
		}
		&__input{
			&--checkbox{
				top: 0;
				border-radius: 0;
				border: 2px solid $color_main_regular;
			}
			&:before{
				left: -2px;
				top: -2px;
			}
		}
	}
}

.filter{
	&-personas{
		margin: 2rem 0;
		display: flex;
		align-items: center;
		@include media (tablet-down){
			flex-direction: column;
			align-items: flex-start;
		}
		.form{
			&-control{
				margin: 0 0 0 2rem;
				@include media (medium-down){
					margin: 0 0 0 1rem;
					&:first-child{ margin: 0 }
				}
				@include media (small-down){
					margin: 1rem 0 0;
				}
				&__title{
					font-size: $size_14;
					letter-spacing: .6px;
					text-transform: uppercase;
					font-weight: $weight_bold;
					margin: 0;
					@include media (medium-down){
						margin: 0 2rem 0 0;
					}
					@include media (tablet-down){
						margin: 0 0 1rem;
						border-bottom: 1px solid $color_border_light;
						width: 100%;
					}
				}
			}
			&-switch{
				padding: 0;
				line-height: 1;
				&__label{
					margin-left: .25rem;
				}
			}
		}
	}
}

.minidownload{
	display: inline-block;
	width: auto;
	border: 1px solid $color_light;
	position: relative;
	padding: 1rem;
	padding-left: 3rem;
	&:before{
		@include get-icon($icon-file-pdf-o);
		color: $color_main_regular;
		position: absolute;
		left: .75rem;
		top: 1.35rem;
		font-size: 2rem;
		line-height: 1;
	}
}

.list{
	&__files{
		padding: 0;
		margin: 1rem 0 0;
		list-style: none;
	}
	&__file{
		&__item{
			position: relative;
			padding: .5rem;
			padding-left: 2rem;
			line-height: 1;
			margin: 0;
			&:before{
				@include get-icon($icon-file-pdf-o);
				color: $color_main_regular;
				position: absolute;
				left: .5rem;
				top: .5rem;
				font-size: 1.25rem;
				line-height: 1;
			}
			a{
				text-decoration: none;
				color: $color_dark;
				width: auto;
				display: inline-block;
				&:hover{
					color: $color_main_regular;
					text-decoration: none;
				}
			}
		}
		&__title{
			font-size: .75rem;
			line-height: 1.2;
			margin: 0 0 .5rem;
			text-transform: uppercase;
		}
		&__details{
			font-size: .75rem;
			line-height: 1;
			display: block;
			padding: 0;
		}
	}
	&__files{
		&.light{
			color: $color_white;
			.list{
				&__file{
					&__item{
						a{
							color: $color_white;
							@include transitional;
							&:hover{
								color: $color_white;
								text-decoration: none;
								opacity: .75;
								@include transitional;
							}
						}
						&:before{
							color: $color_white;
						}
					}
				}
			}
		}
	}
}

.response{
	display: flex;
	@include media (small-down){
		flex-direction: column;
	}
	&__icon{
		margin-right: 2rem;
		@include media (small-down){
			margin: 0 auto 2rem;
		}
	}
	&__title{
		font-size: $size_20;
		margin: 0;
		+.response__excerpt{
			margin: 1rem 0 0;
		}
	}
	&__excerpt{
		font-size: $size_14;
		line-height: 1.4;
	}
	&__icon{
		max-width: 5rem;
		width: 100%;
		.icon{
			border-radius: 50%;
			border: 3px solid $color_main_regular;
			color: $color_main_regular;
			width: 5rem;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 3.5rem;
		}
	}
	&--mini{
		padding: 1.5rem;
		background: $especial_ice_blue;
		.response{
			&__icon{
				width: auto;
				margin-right: 1.5rem;
				.icon{
					font-size: 3rem;
					border: none;
					width: 2rem;
					height: auto;
				}
			}
			&__title{
				font-size: 1rem;
				+.response__excerpt{
					margin: .5rem 0 0;
				}
			}
		}
	}
}

//*------*//
//*FOOTER*//
//*------*//
.footer-bar{
	padding: 0;
	position: relative;
	z-index: 3;
	&__main{
		padding: 3rem 0;
	}
	&__copyright{
		padding: 1.5rem 0;
		color: $color_light;
		font-size: $size_10;
		line-height: 1.2;
		.copyright{
			&__year{
				padding-right: .5rem;
				margin-right: .5rem;
				border-right: 1px solid $color_border;
				@include media (phablet-down){
					margin: 0 0 .5rem;
					padding: 0;
					border-right: none;
					border-bottom: 1px solid $color_border;
				}
			}
			&__address{
				font-weight: $weight_bold;
				padding-right: .5rem;
				margin-right: .5rem;
				border-right: 1px solid $color_border;
				@include transitional;
				&:hover{
					color: $color_white;
					text-decoration: underline;
					@include transitional;
				}
			}
		}
		.flex-center{
			@include media (phablet-down){
				flex-direction: column;
				align-items: center;
				line-height: 1.4;
				text-align: center;
			}
		}
	}
	&__brand{
		img{ @include transitional }
		&:hover{
			img{
				opacity: .75;
				@include transitional;
			}
		}
	}

	.footer-logos{
		&__title{
			margin: 0;
			color: $color_white;
			font-size: $size_10;
			font-weight: $weight_bold;
			line-height: 1.2;
			text-transform: uppercase;
			letter-spacing: .5px;
			&:after{
				content: '';
				height: 1px;
				width: 5rem;
				background: rgba($color_white, .5);
				margin-left: 1.5rem;
				flex: 1;
			}
		}
		&__title, &__figure{
			display: flex;
			align-items: center;
		}
		&__figure{
			position: relative;
			justify-content: flex-end;
			padding: .5rem;
			img{ @include transitional }
			&:hover{
				img{
					opacity: .75;
					@include transitional;
				}
			}
			@include media (medium-down){ justify-content: center }
			@include media (phablet-down){ padding: .5rem 0 }
		}
	}
}
