.grid {
	display: grid;
	grid-auto-rows: 1fr;

	@each $pos in $grid_map {
		&-cols-#{$pos} {
			grid-template-columns: repeat(#{$pos}, 1fr);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						grid-template-columns: repeat(#{$pos}, 1fr);
					}
				}
			}
		}
	}

}

.grid-item {
	position: relative;
	grid-column: auto;
	height: 100%;

	>.box {
		min-height: 200px;
		@include media (phablet-down){
			min-height: 300px;
			&.box--main{
				min-height: 450px;
			}
		}
	}

	@each $pos in $grid_map {
		&.grid-col-start-#{$pos} {
			grid-column-start: #{$pos}
		}

		&.grid-col-end-#{$pos} {
			grid-column-end: #{$pos}
		}

		@each $in in $grid_map {
			&.grid-col-#{$pos}-#{$in} {
				grid-column: #{$pos} / #{$in};
			}
		}


		&.grid-row-start-#{$pos} {
			grid-row-end: span #{$pos};

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						grid-row-start:#{$pos};
					}
				}
			}
		}

		&.grid-row-end-#{$pos} {
			grid-row-end: span #{$pos};

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						grid-row-end: span #{$pos};
					}
				}
			}
		}
	}

	@each $pos in $grid_map {
		@each $in in $grid_map {
			&.grid-col-#{$pos}-#{$in} {

				@each $media_name,
				$media_size in $medias_map {
					&\@#{$media_name} {
						@include media (#{$media_name}-down) {
							grid-column: #{$pos} / #{$in};
						}
					}
				}
			}
		}
	}

	>.box {
		height: 100%;
		display: flex;
	}
}

#main-grid {
	@include media ($deploy_nav_up) {
		grid-auto-rows: minmax(200px, 30vh)
	}

	.grid-item {
		@include media (book-down) {
			&[data-grid-num="1"] {
				grid-column: 1 / 3;
				grid-row-end: span 2;
			}

			&[data-grid-num="2"] {
				grid-column: 3 / 5
			}

			&[data-grid-num="3"],
			&[data-grid-num="8"] {
				grid-column: 3 / 4
			}

			&[data-grid-num="4"],
			&[data-grid-num="5"] {
				grid-column: 4 / 5
			}

			&[data-grid-num="6"] {
				grid-column: 1 / 3;
				grid-row-start: 3;
			}

			&[data-grid-num="7"] {
				grid-column: 2 / 3
			}
		}

		@include media (tablet-down) {

			&[data-grid-num="2"],
			&[data-grid-num="6"] {
				grid-column: 1 / 3;
			}

			&[data-grid-num="3"],
			&[data-grid-num="7"] {
				grid-column: 1 / 2;
			}

			&[data-grid-num="4"],
			&[data-grid-num="5"],
			&[data-grid-num="8"] {
				grid-column: 2 / 3;
			}

			&[data-grid-num="6"] {
				grid-row-start: auto;
			}
		}

		@include media (phablet-down) {
			grid-column: 1 / 2 !important;

			&[data-grid-num] {
				grid-column: 1 / 2;
			}
		}
	}
}

#pilar-grid {
	.grid-item {
		@include media (medium-down) {
			&[data-grid-num="1"] {
				grid-column: 1 / 3;
				grid-row-end: span 2;
			}

			&[data-grid-num="2"],
			&[data-grid-num="4"],
			&[data-grid-num="6"] {
				grid-column: 1 / 2;
				grid-row: auto;
			}

			&[data-grid-num="3"],
			&[data-grid-num="5"],
			&[data-grid-num="7"] {
				grid-column: 2 / 3;
				grid-row: auto;
			}
		}

		@include media (small-down) {
			&[data-grid-num] {
				grid-column: 1 / 2;
			}

			&[data-grid-num="1"] {
				grid-row-end: span 2;
			}
		}
	}
}

#inversion-grid {
	.grid-item {
		@include media (medium-down) {
			&[data-grid-num="1"] {
				grid-column: 1 / 3;
				grid-row-end: span 2;
			}

			&[data-grid-num="3"] {
				grid-column: 1 / 2;
				grid-row: auto;
			}

			&[data-grid-num="4"] {
				grid-column: 2 / 3;
				grid-row: auto;
			}
		}

		@include media (small-down) {
			&[data-grid-num] {
				grid-column: 1 / 2;
			}

			&[data-grid-num="1"] {
				grid-row-end: span 2;
			}
		}
	}
}

#modelo-grid {
	@include media (phablet-down) {
		grid-auto-rows: auto;
	}
}

#highlights-grid {
	grid-gap: 2px;

	.grid-item {
		height: auto;

		>.box {
			height: auto;
		}
	}

	@include media (phablet-down) {
		grid-auto-rows: auto;
	}
}

#kit-grid {
	grid-gap: 1rem;

	@include media (phablet-down) {
		grid-gap: 2px
	}

	.grid-item {
		>.box {
			min-height: 180px;

			@include media (phablet-down) {
				min-height: 100px;
			}
		}
	}
}

#equipo-grid {
	.grid-item {
		min-height: 200px;
		.box{
			&--grid{
				min-height: 250px;
			}
		}
	}
}


//! IMPORTANT/


.box {
	&--grid {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 200px;

		&:not(.box--main) {
			.box__title {
				@extend .title-decorated;
				font-size: $size_18;
				line-height: 1.2;
			}
		}

		.box {
			&__title {
				font-weight: $weight_bold;
				position: relative;
				text-transform: uppercase;
			}

			&__head {
				z-index: 1;
				display: flex;
				align-items: center;
				padding: 2rem;
				color: $color_white;
				min-width: 100%;
				min-height: 100%;

				&:not([class*="bg"]) {
					background: $color_dark;
				}

				&.bg-image{
					background-color: rgba($color_dark, .75);
					&.bg-main{
						background-color: rgba($color_main_regular, .75);
					}
				}

				@include media (phablet-down) {
					+.box__body {
						display: none;
					}
				}
			}

			&__body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				padding: 2rem;
				color: $color_white;
				opacity: 0;
				@include transitional;

				&:not([class*="bg"]) {
					background: rgba($color_dark, .75);
					background-blend-mode: multiply;
				}
			}
		}

		&:hover:not(.box--expand):not(.blocked) {
			.box {
				&__head {
					@include media (phablet-down) {
						display: none
					}
				}
				&__body {
					opacity: 1;
					@include media (phablet-down) {
						display: flex
					}
					@include transitional;
				}
			}
		}

		&.box--main {
			.box {
				&__body {
					opacity: 1;
				}

				&__title {
					font-size: $size_40;
					font-weight: $weight_bold;
					text-transform: uppercase;
					letter-spacing: .6px;
				}
			}
		}

		&:not(.blocked){
			.box__head{
				@include media (phablet-down){
					display: none !important;
					// display: flex !important;
				}
			}
			.box__body{
				@include media (phablet-down){
					opacity: 1 !important;
					display: flex !important;
					min-height: 300px;
				}
			}
		}
	}

	&--expand {
		min-height: 0;
		min-width: 0;
		cursor: pointer;
		position: relative;
		.box {
			&__body {
				display: none;
				width: 100%;
				opacity: 0;
				z-index: 5;
				@include transitional;

				@include media (phablet-down) {
					display: flex;
				}
			}
			&__head{
				&__veil{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(135deg, rgba($color_dark, 0) 60%, rgba($color_dark, .5) 100%);
					opacity: .75;
					z-index: 5;
					@include transitional;
					&.hover{
						&:after{
							@include get-icon($icon-hand-paper-o);
						}
					}
					&:after{
						font-size: 1.5rem;
						position: absolute;
						opacity: 1;
						right: 1rem;
						bottom: 1rem;
						color: $color_white;
					}
					&.darker{
						background: linear-gradient(135deg, rgba($color_dark, 0) 0%, rgba($color_dark, .75) 100%);
					}
				}
	
				&:hover {
					color: $color_white;
					@include transitional;
					.box {
						&__title {
							color: $color_white;
						}
					}
				}
			}
		}

		&.expanding {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 8888;
			cursor: auto;

			.box {
				&__head {
					position: absolute;
					opacity: 0;
				}
			}

			.box__body {
				display: flex;
				@include transitional;
			}

			&[data-expand="right-top"] {
				left: auto;
				right: 0;
				top: 0;
			}

			&[data-expand="left-bottom"] {
				top: auto;
				bottom: 0;
			}

			&[data-expand="right-bottom"] {
				left: auto;
				right: 0;
				top: auto;
				bottom: 0;
			}

			@each $media_name,
			$media_size in $medias_map {
				&[data-expand-#{$media_name}="right-top"] {
					@include media (#{$media_name}-down) {
						left: auto;
						right: 0;
						top: 0;
					}
				}

				&[data-expand-#{$media_name}="right-bottom"] {
					@include media (#{$media_name}-down) {
						left: auto;
						right: 0;
						top: auto;
						bottom: 0;
					}
				}

				&[data-expand-#{$media_name}="left-bottom"] {
					@include media (#{$media_name}-down) {
						top: auto;
						bottom: 0;
						right: auto;
						left: 0;
					}
				}

				&[data-expand-#{$media_name}="left-top"] {
					@include media (#{$media_name}-down) {
						left: 0;
						right: auto;
						bottom: auto;
						top: 0;
					}
				}
			}
		}
	}

	&--block {
		background: $color_light;
		cursor: pointer;
		transition: 0s;

		.box {
			&__title {
				font-size: 3rem;
				line-height: 1.2;
				margin: 0;
				color: $color_main_regular;

				+p {
					margin: 1rem 0 0;
				}

				@include media (medium-down) {
					font-size: 2.5rem;
				}
			}

			&__head {
				// height: 100%;
				min-width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-size: cover;
				position: relative;

				&__veil{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(135deg, rgba($color_dark, 0.01) 0%, rgba($color_dark, .5) 20%, rgba($color_dark, 1) 80%);
					opacity: .5;
					@include transitional;
					&.click{
						&:after{
							@include get-icon($icon-hand-pointer-o);
						}
					}
					&:after{
						font-size: 1.5rem !important;
						position: absolute;
						opacity: 1;
						right: 1rem;
						bottom: 1rem;
						color: $color_white;
					}
					&:hover{
						opacity: 1;
						@include transitional;
					}
				}

				&:hover {
					color: $color_white;
					@include transitional;

					.box {
						&__title {
							color: $color_white;
						}
					}
				}
			}

			&__body {
				display: none;
				width: 100%;
				opacity: 0;
				z-index: 5;
				padding: 2rem;
				flex-direction: column;
				background-color: $color_clear;
				@include transitional;

				&__close {
					@include reset-button;
					display: none;
					position: absolute;
					right: 1rem;
					top: 1rem;
					font-weight: $weight_bold;
					width: 2rem;
					height: 2rem;
					align-items: center;
					justify-content: center;

					&:after {
						@include get-icon($icon-close);
						color: $color_dark;
						font-size: 1.25rem;
					}

					@include media (phablet-down) {
						top: 0;
						right: 0;
					}

					&:hover {
						background: $color_dark;
						@include transitional;

						&:after {
							color: $color_light;
						}
					}
				}
			}

			&__content {
				.box {
					&__title {
						font-size: $size_24;
						font-weight: $weight_bold;
						text-transform: uppercase;
						color: $color_dark;

						+.box__excerpt {
							margin-top: 1rem;
						}
					}

					&__excerpt {
						font-size: $size_12;
						line-height: 1.4;
						color: $color_dark;

						>p {
							font-size: $size_12;
							line-height: 1.4;
						}

						+.box__action {
							margin: 1rem 0 0;
						}
					}
				}
			}

			&__graphics {
				display: flex;
				flex-wrap: wrap;
				padding-top: 1rem;
				margin-top: 1rem;
				border-top: 1px solid $color_border_light;

				.box {
					&--graph {
						margin: 0;
						padding: 0;
						padding-right: .75rem;
						height: auto;

						+.box--graph {
							padding: 0;
							padding-left: .75rem;
							border-left: 1px solid $color_border_light;

							@include media (tablet-down) {
								border: none
							}
						}

						>div {
							height: auto
						}

						@include media (tablet-down) {
							padding: 0;

							+.box--graph {
								padding: 0;
								margin: 1.5rem 0 0;
							}
						}
					}
				}
			}
		}

		&.growing {
			position: absolute;
			z-index: 9;
			height: auto;
			cursor: auto;
			width: 100%;
			top: 0;

			.box {
				&__head {
					display: none;
				}

				&__body {
					display: flex;
					opacity: 1;
					box-shadow: 1px 2px 10px rgba($color_dark, .5);

					&__close {
						display: flex;
					}
				}
			}

			&[data-grow="left-right"] {
				left: 0;
				right: auto;
			}

			&[data-grow="right-left"] {
				right: 0;
				left: auto;
			}

			@each $media_name,
			$media_size in $medias_map {
				&[data-grow-#{$media_name}="left-right"] {
					@include media (#{$media_name}-down) {
						left: 0;
						right: auto;
					}
				}

				&[data-grow-#{$media_name}="right-left"] {
					@include media (#{$media_name}-down) {
						right: 0;
						left: auto;
					}
				}
			}
		}

		&.box--cell {

			.box {
				&__body{
					background-repeat: no-repeat;
					background-size: cover;
				}
				&__head{
					background-image: attr(data-bg);
				}
			}
		}
	}

	&--kit {
		background-size: cover;
		background-position: left top;
		background-repeat: no-repeat;

		.box {
			&__title {
				@extend .title-decorated;
				position: relative;
				color: $color_dark;
				font-size: $size_14;
				padding-bottom: .25rem;
				text-transform: uppercase;

				&:after {
					background: $color_dark;
					max-width: 3rem;
					@include transitional;
				}
			}

			&__head {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background: rgba($color_white, .5);
				color: $color_white;
				width: 100%;
				height: 100%;
				padding: 1.5rem;
				@include transitional;

				@include media (phablet-down) {
					padding: 1rem
				}
			}
		}

		&:hover {
			.box {
				&__head {
					background: rgba($color_white, .75);
					@include transitional;
				}

				&__title:after {
					max-width: 6rem;
					@include transitional;
				}
			}
		}
	}
}

.open-grid, .opening{
	.box{
		&__head{
			&__veil{
				display: none;
			}
		}
	}
}

@include media (phablet-down){
	.grid-item.grid-blocked{ display: none; }
}