.menu-item {
	font-size: $size_10;
	font-weight: $weight_medium;
	line-height: 1;
	letter-spacing: .4px;
	margin: 0 .25rem 0 0;

	&:last-child {
		margin: 0;
	}

	@include media ($deploy_nav){
		margin: 0 0 5px;
		&:last-child{
			margin: 0;
		}
	}

	>a {
		color: $color_white;
		font-weight: inherit;
		line-height: 1.3;
		padding: .25rem .375rem;
		position: relative;

		span {
			position: relative;
			z-index: 3;
			cursor: pointer;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 0;
			left: 0;
			width: 100%;
			background: $color_main_regular;
			@include transitional;
		}

		@include active-state {
			&:after {
				height: 100%;
				@include transitional;
			}
		}
	}

	&.separate {
		font-weight: $weight_bold;
		border-left: 1px solid $color_border;
		border-right: 1px solid $color_border;
		padding: 0 .25rem 0;

		@include media ($deploy_nav) {
			border: none;
			padding: 0;
		}
	}

	&.search {
		display: flex;
		padding-left: .25rem;

		button.icon {
			@include reset-button;
			position: relative;
			width: 1.5rem;
			height: 1.5rem;
			color: $color_white;
			@include transitional;

			&:before {
				@include flexcenter;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 1rem;
			}

			&.deployed {
				background-color: $color_white;
				@include transitional;

				&:before {
					content: $icon-close;
					color: $color_dark;
					@include transitional;
				}
			}
		}
	}

	&.current-menu-item,
	&.current-page-ancestor {
		>a:before {
			content: '';
			width: calc(100% - .75rem);
			left: .375rem;
			height: 3px;
			background: $color_main_regular;
			bottom: 0;
			position: absolute;
		}
	}

	@include media (book-down) {
		height: 100%;
		max-width: 6.5rem;

		>a {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	@include media ($deploy_nav) {
		background: transparent;
		font-size: $size_14;
		border: none;
		max-width: 100%;

		>a {
			display: inline-block;
			width: auto;
			padding: 1rem 0;
		}
	}


	&.menu-item-has-children {
		// position: relative;
		cursor: pointer;
		>.menu-item {
			position: relative;
			margin: 0;
			@include media ($deploy_nav){
				width: 100%;
				margin: 0;
			}

			>a {
				@include media ($deploy_nav_up){
					padding-right: .75rem;
				}
				@include media ($deploy_nav){
					width: calc(100% - 2.75rem);
				}
			}
		}

		>a {
			@include media ($deploy_nav) {
				width: calc(100% - 2.75rem);
			}

			&:before {
				@include media ($deploy_nav_up) {
					width: calc(100% - 1.25rem);
				}
			}
		}

		.click-handler {
			color: $color_white;

			@include media ($deploy_nav) {
				height: 2.75rem;
				width: 2.75rem;
			}
		}

		.submenu {
			width: 100%;

			@include media ($deploy_nav_up) {
				position: absolute;
				left: 0;
				top: 42px;
				background: transparent;
				padding-top: 1.5rem;

				&__veil {
					background: $color_white;
					width: 100%;
				}
			}

			&__list {
				
				margin: 0;
				@include media ($deploy_nav_up){
					padding: .75rem 0;
					display: flex;
					align-items: flex-start;
					justify-content: flex-end;
				}
				@include media ($deploy_nav){
					padding: 0;
				}
			}

			.menu-item {
				margin: 0 0;
				font-size: 9px;
				line-height: 1.3;
				font-weight: $weight_semibold;
				text-transform: uppercase;
				position: relative;

				@include media ($deploy_nav_up) {
					max-width: 10rem;
					padding: 0 .4rem !important;
				}

				@include media ($deploy_nav) {
					padding: 0 .75rem;
					background: transparent;
					text-transform: none;
					&.current-menu-item,&.current-page-ancestor{
						>a{
							color: $color_main_regular;
							text-decoration: underline;
						}
					}
				}

				>a {
					display: flex;
					align-items: center;
					color: $color_dark;
					position: relative;
					width: auto;
					
					@include media ($deploy_nav_up) {
						padding: .25rem 0;
						height: 100%
					}
					@include media ($deploy_nav){
						padding: .75rem 0;
						justify-content: flex-start;
						color: $color_light;
					}

					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 3px;
						bottom: 0;
						left: 0;
						background: $color_main_regular;
						@include transitional;
					}

					&:focus,
					&:active {
						text-decoration: none
					}

					@include active-state {
						text-decoration: none;

						&:after {
							width: 50%;
							@include transitional;

							@include media ($deploy_nav) {
								width: calc(100% - 1rem)
							}
						}
					}
				}

				&.current-menu-item,
				&.current-page-ancestor {
					a:after {
						width: 100%;
						height: 3px;
					}
				}
			}

			@include media ($deploy_nav) {
				background: transparent;
				padding: 0;
			}
		}

		&.deployed {
			@include media ($deploy_nav) {
				background: transparent;

				.submenu {
					background: rgba($color_dark, .125);
				}
			}
		}

		&.separate {

			.click-handler {
				right: 0;

				@include media ($deploy_nav) {
					right: 0
				}
			}
		}

		&.current-menu-item, &.current-page-ancestor{
			.menu-item{
				>a{
					&:after{
						height: 3px;
						@include media ($deploy_nav){
							bottom: 2px;
						}
					}
				}
			}
			.submenu .menu-item>a{
				&:before,&:after{
					content: none;
				}
			}
			@include media ($deploy_nav_up){
				>.menu-item{
					>a{
						&:before {
							content: '';
							top: 2rem;
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
	
							width: 0;
							height: 0;
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-bottom: 12px solid $color_white;
						}
					}
				}
				&.hold-on{
					.menu-item>a{
						&:before{
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		@include media ($deploy_nav_up){
			&:hover {
				>.menu-item {
					>a {
						&:after {
							height: 100% !important;
							@include transitional;
						}
	
						&:before {
							content: '';
							top: 2rem;
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
	
							width: 0;
							height: 0;
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-bottom: 12px solid $color_white;
						}
					}
				}
			}
		}
	}

}

.nav-bar {
	position: relative;
	background: $color_dark;
	z-index: 5;

	&__brand {
		height: 100%;

		.app-brand {
			@include media ($deploy_nav_up) {
				max-width: 10rem
			}

			@include media (large-down) {
				max-width: 8rem
			}
		}

		@include media ($deploy_nav) {
			height: 3.5rem;
		}
	}

	&__menu {
		@include media ($deploy_nav) {
			padding: 2rem 1rem;
			background: $color_grey_darker;
		}

		&-holder {
			@include media ($deploy_nav) {
				padding: 0;
				background: $color_dark;
			}
		}
	}

	//*búsqueda*//
	&__search {
		visibility: hidden;
		position: absolute;
		top: 0;
		z-index: 4;
		width: 100%;
		transform: translateY(-4.15rem);
		@include transitional;

		&.deployed {
			visibility: visible;
			transform: translateY(4.15rem);
			@include transitional;
		}

		.search {
			&-module {
				@include shadow;
				max-width: $tablet;
				margin-left: auto;
				border: none;
				border-radius: 0;

				@include media ($deploy_nav_up) {
					height: 2.75rem;
				}

				@include media ($deploy_nav) {
					height: 3.5rem;
					max-width: 100%;
				}
			}

			&-input {
				background: $color_grey_dark;
				color: $color_white;
				padding: .75rem;
				border-radius: 0 !important;
				@include placeholder-color($color_light);
				@include transitional;

				&:focus {
					background: $color_grey_darker;
					@include transitional;
				}

				@include media (tablet-down) {
					font-size: 1rem
				}
			}

			&-button {
				background: $color_dark;
				color: $color_white;
				margin: 0;
				width: 2.5rem;
				;

				&:after {
					color: $color_white
				}

				@include media ($deploy_nav) {
					width: 3.5rem;

					&:after {
						font-size: 1.5rem
					}
				}
			}
		}

		@include media ($deploy_nav) {
			transform: translateY(-3.5rem);

			&.deployed {
				transform: translateY(3.5rem)
			}
		}
	}

	//*mobile header*//
	&__mobile {
		&-head {
			background: $color_dark;
		}

		&-menu,
		&-search {
			background: $color_dark;

			&.deployed {
				background: $color_grey_darker;
			}
		}
	}

	//*Internal nav*//
	&__internal {
		z-index: 6;
		position: absolute;
		left: 0;
		// top: 100%;
		width: 100%;
		height: auto;
		background: white;
		box-shadow: 0 4px 2px rgba(51,51,51,.125);
		transition: 0s;
		@include media ($deploy_nav){
			background: transparent;
		}
		.internav {
			@include reset-list-alt;
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;

			@include media ($deploy_nav) {
				align-items: flex-start;
			}

			padding: .75rem 0;

			&__item {
				display: block;
				margin: 0 0;
				padding: 0 .4rem;
				font-size: 9px;
				line-height: 1.3;
				font-weight: $weight_semibold;
				text-transform: uppercase;
				position: relative;

				@include media ($deploy_nav_up) {
					max-width: 10rem
				}

				@include media ($deploy_nav) {
					padding: 0 !important
				}

				&:last-child {
					margin: 0
				}

				>a {
					display: flex;
					align-items: center;
					color: $color_dark;
					position: relative;
					padding: .25rem 0;
					width: auto;

					@include media ($deploy_nav_up) {
						height: 100%
					}

					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 3px;
						bottom: 0;
						left: 0;
						background: $color_main_regular;
						@include transitional;
					}

					&:focus,
					&:active {
						text-decoration: none
					}

					@include active-state {
						text-decoration: none;

						&:after {
							width: 50%;
							@include transitional;

							@include media ($deploy_nav) {
								width: calc(100% - 1rem)
							}
						}
					}
				}

				&.current {
					a:after {
						width: 100%;
					}
				}

				.submenu {
					position: absolute;
					top: 100%;
					display: none;
					width: 100%;
					min-width: 100% !important;
					max-width: 100% !important;

					&__item {
						margin: 0;
						padding: 0;
						font-size: 9px;
						line-height: 1.3;

						>a {
							color: $color_dark;
							padding: .4rem;
							display: block;
						}

						&:hover,
						&.current {
							background: $color_light_hover;

							a {
								text-decoration: none
							}
						}
					}
				}

				.click-handler {
					color: $color_dark;
					right: .5rem;
					top: .5rem;
					position: absolute;
					z-index: 1;
					transform: rotateX(0deg);
					font-size: 10px;

					@include media ($deploy_nav) {
						height: 2.75rem;
						width: 2.75rem;
						right: 0;
					}
				}

				&.has-children {
					padding-right: 1rem;
					>a {
						width: auto;
						@include media ($deploy_nav){
							width: calc(100% - .25rem);
						}
						@include transitional;
					}

					@include media ($deploy_nav_up) {
						&:hover {
							background: $color_light;
							display: block;
							z-index: 8;

							.submenu {
								display: block;

							}

							.click-handler {
								transform: rotateX(180deg);
								@include transitional;
							}

							>a:after {
								height: 0;
								width: 100%;
								transition: 0s;
							}
						}
					}

					@include media ($deploy_nav) {
						>a {
							width: calc(100% - 2.25rem);
						}

						.click-handler {
							width: 2.25rem;
							height: 2.25rem;
							display: flex;
							align-items: center;
							justify-content: center;
							background: #42484d;
							color: $color_white;
							top: 0;

							&.deployed {
								transform: rotateX(180deg);
								@include transitional;
							}
						}

						.submenu {
							position: static;
							background: #42484d;

							&__item {
								>a {
									color: $color_white;
									text-transform: none;
								}
							}
						}

						&.deployed {
							.submenu {
								display: block;
							}
						}
					}
				}

			}

			@include media ($deploy_nav) {
				flex-direction: column;
				padding: 2rem 1rem;

				.internav {
					&__item {
						display: block;
						font-size: .75rem;
						width: 100%;
						margin: 0 0 5px;
						&:last-child{ margin: 0 }

						>a {
							padding: .625rem .5rem;
							padding-left: 0;
							display: inline-block;
							width: 100%;
							color: $color_light;
						}

						&.current{
							background: transparent;
							>a {
								&:after {
									width: 100%;
								}
							}
						}
						.submenu{
							&__item{
								font-size: $size_12;
								padding: .5rem 0;
								&.current{
									background: transparent;
									>a{
										color: $color_main_regular;
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#menu-item-384{
	.submenu{
		&__list{
			.menu-item{
				@include media ($deploy_nav_up){
					max-width: 8rem;
				}
			}
		}
	}
}
#menu-parent-12{
	&.internav{
		.internav{
			&__item{
				@include media ($deploy_nav_up){
					max-width: 8rem;
				}
			}
		}
	}
}

.footer-bar{
	&__nav{
		@include reset-list;
		display: flex;
		align-items: center;
		.menu-item{
			text-transform: uppercase;
			padding: 0 .25rem;
			margin: 0;
			max-width: 100%;
			&:last-child{
				border-right: none;
			}
			>a{
				padding: .25rem;
				&:after{
					left: 0;
					width: 100%;
					height: 0;
					@include transitional;
				}
				@include active-state{
					color: $color_white;
					text-decoration: none;
					&:after{
						height: 100%;
						@include transitional;
					}
				}
			}
			&.current-menu-item,&.current-page-ancestor{
				>a:before{
					width: calc(100% - .5rem);
					left: .25rem;
					height: 3px;
					@include transitional;
				}
				>a:after{
					width: 100%;
					left: 0;
					@include transitional;
				}
			}
			.click-handler{ display: none }
			@include media ($deploy_nav){
				padding: 0;
				margin: 0 0 1rem;
				width: 50%;
				flex-basis: 50%;
				height: auto;
			}
			@include media ($deploy_nav){
				width: 100%;
				flex-basis: 100%;
			}
		}
		@include media (book-down){
			width: 100%;
			justify-content: center;
		}
		@include media ($deploy_nav){
			flex-wrap: wrap;
			margin-top: 2rem;
		}
	}
}