
.floater{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 1;
	left: 0;
	&.row{
		max-width: 100%;
		width: 100%;
	}
	@include media (tablet-down){
		width: 100%;
	}
}

.container{
	.floater.row{
		left: .5rem;
		@each $media_name, $media_size in $medias_map {
			&.no-left\@#{$media_name} {
				@include media (#{$media_name}-down) {
					left: 0;
				}
			}
		}
	}
	.relative.row{
		margin: 0;
		left: 0;
	}
}
//*---------------*//
//*.SHOW and .HIDE*//
//*---------------*//
.show {
	display: block;
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

@each $media_name, $media_size in $medias_map {
	.hide\@#{$media_name} {
		@include media (#{$media_name}-down) { display: none !important }
	}
}

.show\@desktop {
	display: none;
	@include media (desktop-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@large {
	display: none;
	@include media (large-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@large;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@book {
	display: none;
	@include media (book-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@book;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@medium {
	display: none;
	@include media (medium-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@medium;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@tablet {
	display: none;
	@include media (tablet-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@tablet;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@small {
	display: none;
	@include media (small-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@small;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@phablet {
	display: none;
	@include media (phablet-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@phablet;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}



//*-----------------------------*//
//*Rewrite gridle's GUTTER class*//
//*-----------------------------*//
.gutter {
	padding: .5rem;
	&-vertical {
		padding-top: .5rem;
		padding-bottom: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
					padding-bottom: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
						padding-bottom: .5rem;
					}
				}
			}
		}
	}
	&-horizontal {
		padding-left: .5rem;
		padding-right: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
					padding-right: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
						padding-right: .5rem;
					}
				}
			}
		}
	}
	&-top {
		padding-top: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
					}
				}
			}
		}
	}
	&-bottom {
		padding-bottom: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: .5rem;
					}
				}
			}
		}
	}
	&-left {
		padding-left: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
					}
				}
			}
		}
	}
	&-right {
		padding-right: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-right: .5rem;
					}
				}
			}
		}
	}
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: .5rem;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: .5rem;
				}
			}
		}
	}
	&-special{
		padding-left: 0;
		@include media (small-down){
			padding: .5rem 1.5rem;
		}
		@include media (phablet-down){
			padding: .5rem;
		}
	}
	&-triple-top{
		padding: 3rem 0 0;
	}
	&-triple-right{
		padding-right: 3rem;
	}
}



//*------------*//
//*Border class*//
//*------------*//
.br {
	&-right {
		border-right: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-right: 1px solid $color_border }
			}
		}
	}

	&-left {
		border-left: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-left: 1px solid $color_border }
			}
		}
	}

	&-top {
		border-top: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-top: 1px solid $color_border }
			}
		}
	}

	&-bottom {
		border-bottom: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-bottom: 1px solid $color_border }
			}
		}
	}
	&-full{
		border: 1px solid $color_border;
	}
}

//*---------------*//
//*No border class*//
//*---------------*//
.no-br {
	&-right {
		border-right: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-right: none }
			}
		}
	}

	&-left {
		border-left: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-left: none }
			}
		}
	}

	&-top {
		border-top: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-top: none }
			}
		}
	}

	&-bottom {
		border-bottom: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-bottom: none }
			}
		}
	}
}


//*-----------------------------------*//
//*Border created using :after element*//
//*-----------------------------------*//
.brc {
	&-right {
		@include br-right;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-right }
			}
		}
	}

	&-left {
		@include br-left;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-left }
			}
		}
	}

	&-top {
		@include br-top;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-top }
			}
		}
	}

	&-bottom {
		@include br-bottom;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-bottom }
			}
			&[class*="gr-"]{
				&:after{ background: $color_border_light }
			}
		}
	}
}

//*--------------------------------*//
//*No :after element Border element*//
//*--------------------------------*//
.no-brc {
	&-right {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-left {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-top {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-bottom {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}
}

//*----------------*//
//*Big paddings top*//
//*----------------*//
.hat {
	padding-top: 3rem;

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding-top: 3rem;
			}
		}
	}

	&-tall {
		padding-top: 5rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 5rem;
				}
			}
		}
	}

	&-big {
		padding-top: 4rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 4rem;
				}
			}
		}
	}

	&-small {
		padding-top: 2rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 2rem;
				}
			}
		}
	}

	&-tiny {
		padding-top: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 1rem;
				}
			}
		}
	}

	&-mini {
		padding-top: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
				}
			}
		}
	}

	&-not {
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
				}
			}
		}
	}
}

//*----------------*//
//*Big paddings bottom*//
//*----------------*//
.heels {
	padding-bottom: 3rem;

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding-bottom: 3rem;
			}
		}
	}

	&-tall {
		padding-bottom: 5rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 5rem;
				}
			}
		}
	}

	&-big {
		padding-bottom: 4rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 4rem;
				}
			}
		}
	}

	&-small {
		padding-bottom: 2rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 2rem;
				}
			}
		}
	}

	&-tiny {
		padding-bottom: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	&-not {
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0;
				}
			}
		}
	}
}

//*---------------------------*//
//*Big paddings left and right*//
//*---------------------------*//
.mv{
	&-right{
		padding-right: 1rem;

		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 1rem;
				}
			}
		}

		&-double {
			padding-right: 2rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 2rem;
					}
				}
			}
		}

		&-triple {
			padding-right: 3rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 3rem;
					}
				}
			}
		}

		&-not {
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 0;
					}
				}
			}
		}
	}
	&-left{
		padding-left: 1rem;

		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 1rem;
				}
			}
		}

		&-double {
			padding-left: 2rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 2rem;
					}
				}
			}
		}

		&-triple {
			padding-left: 3rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 3rem;
					}
				}
			}
		}

		&-not {
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 0;
					}
				}
			}
		}
	}
}


//*---------------*//
//*No gutter class*//
//*override all of above*//
//*---------------------*//
.no-gutter {
	padding: 0;

	&-important {
		padding: 0!important;
	}

	&-vertical {
		padding-top: 0;
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&-horizontal {
		padding-left: 0;
		padding-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0;
					padding-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	&-top {
		padding-top: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 0;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 0;
				}
			}
		}
	}
}

.gutter {
	padding: .5rem;
	&-double {
		padding: 1rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding: 1rem;
				}
			}
		}
		&-vertical{
			@each $media_name,$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding: 1rem 0;
					}
				}
			}
		}
		&-horizontal{
			@each $media_name,$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding: 0 1rem;
					}
				}
			}
		}
		&.no-gutter{
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding: 0;
					}
				}
			}
		}
	}
}

.min-gutter {
	padding: 1px;
	&-top {
		padding-top: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 1px;
					}
				}
			}
		}
	}
	&-bottom {
		padding-bottom: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 1px;
					}
				}
			}
		}
	}
	&-left {
		padding-left: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 1px;
					}
				}
			}
		}
	}
	&-right {
		padding-right: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-right: 1px;
					}
				}
			}
		}
	}
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 1px;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 1px;
				}
			}
		}
	}
}

.bg{
	&-main{
		background: $color_main_regular;
		color: $color_white;
		&-light{
			background: $especial_light_sky_blue;
		}
		&-lightest{
			background: $color_main_lightest;
		}
	}

	&-grey{
		&-lightest{
			background: #f0f0f0;	
		}
	}

	&-dark{
		background: $color_dark;
		color: $color_white;
		.button:hover:not(.button--main){ color: $color_dark }
		&-light{
			background: $color_dark_light;
			.button:hover{ color: $color_dark_light }
		}
		&-lighter{
			background: $color_dark_lighter;
			.button:hover{ color: $color_dark }
		}
	}
	&-white{
		background: $color_white;
	}

	&-light{
		background: $color_light;
		&-main{
			background: $color_light_main;
		}
		&-red{
			background: #FCEBEB;
		}
		&-pink{
			background: $especial_very_light_pink;
		}
		&-purple{
			background: $especial_pale_grey;
		}
		&-orange{
			background: $especial_very_light_orange;
		}
		&-grey{
			background: $especial_very_light_grey;
		}
		&-ice{
			background: $especial_ice_blue;
		}
	}
	&-clear{
		&-grey{
			background: #fefefe;
		}
		&-main{
			background: #FBFEFF;
		}
	}
	&-transparent{
		background: transparent;
	}
}

.no-margin{
	margin: 0;
	&.row{
		margin-left: 0;
		margin-right: 0;
	}
}

.bg-tall{
	@include media ($deploy_nav_up){
		min-height: 800px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.relative{
	position: relative;
	z-index: 2;
	&.row{
		width: 100%;
		max-width: 100%;
		left: 0;
	}
}

.overnone{
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				overflow: hidden;
				video{
					max-height: 300px;
					display: block;
				}
			}
		}
	}
}

.container{
	@each $media_name, $media_size in $medias_map {
		&.no-gutter\@#{$media_name} {
			@include media (#{$media_name}-down) {
				>.row{
					margin: 0;
					max-width: 100%;
				}
			}
		}
	}
	&--offset{
		padding-bottom: 8rem;
		@include media (tablet-down){
			padding-bottom: 12rem;
		}
	}
	&--overposition{
		border: 1px solid red;
		display: flex;
		align-items: flex-end;
		@include media (tablet-down){
			flex-direction: column;
			align-items: initial;
		}
		.box{
			&__title{
				margin: 0 0 5rem;
				text-transform: uppercase;
			}
			&__body{
				background: $color_white;
				padding: 2rem;
			}
		}
		>.row{
			margin: -.5rem;
		}
	}
}

.full-absolute{
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name}{
			@include media (#{$media_name}-down) {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
		&-fam{
			&\@#{$media_name}, &\@#{$media_name} *{
				@include media (#{$media_name}-down) {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100% !important;
				}
			}
		}
	}
}

.topset{
	&--small{
		transform: translateY(5rem);
		@include media (tablet-down){
			transform: none;
		}
	}
}

.title{
	&-huge{
		font-size: $size_48;
	}
	&-big{
		font-size: $size_32;
	}
	&-medium{
		font-size: $size_28;
	}
	&-regular{
		font-size: $size_24;
	}
	&-small{
		font-size: $size_18;
	}
}
.box{
	.box{
		&__title{
			&.title{
				&-huge{
					font-size: $size_48;
				}
				&-big{
					font-size: $size_32;
				}
				&-medium{
					font-size: $size_28;
				}
				&-regular{
					font-size: $size_24;
				}
				&-small{
					font-size: $size_18;
				}
			}
		}
	}
	&--block{
		.box{
			&__body--adapter{
				.box{
					&__title{
						+.box__excerpt{
							margin-top: 2rem;
						}
					}
					&__excerpt{
						+.box__action{
							margin-top: 2rem;
						}
					}
				}
			}
		}
	}
}

.text{
	&-light{
		*{
			color: $color_white;
		}
	}

	&-dark{
		*{
			color: $color_dark;
		}
	}
}

.ajuste-prefix {
	margin: 0 .25px!important;
}

.button.waiting, .row.loading{
	opacity: .5;
	pointer-events: none;
	position: relative;
}
select[required]{
	transition: 0s;
}

.btn-loading, [data-parent].sending button, [data-parent].loading button,.sending button {
	opacity: .5;
	pointer-events: none;
	position: relative;

	&:not(.no-load):before {
		content: "";
		z-index: 100;
		position: absolute;
		left: 0;
		top: 5%;
		width: 100%;
		height: 90%;
	}

	&:not(.no-load):after {
		content: "";
		position: absolute;
		left: 0;
		top: 5%;
		width: 100%;
		height: 90%;
		background: $loading-element;
		-webkit-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
		z-index: 100;
	}
}
.sending form {
	opacity: .5;
	pointer-events: none;
	position: relative;
}
#highlights-grid{
	.grid-item{
		.box{
			&--block{
				.box{
					&__title{
						font-size: 2rem;
					}
					&__head{
						&:hover{
							background: $color_main_regular;
						}
					}
				}
			}
		}
	}
}

.flex-center.button-group{
	@include media (small-down){
		flex-direction: column;
	}
	.button{
		&:not(:last-child){
			margin: 0 1rem 0 0;
			@include media (small-down){
				margin: 0 0 1rem;
			}
		}
	}
}

.video-prev{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	z-index: 3;
	&__veil{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba($color_dark, .25);
		z-index: 4;
	}
	+.video__control{
		z-index: 5;
	}
}

.no-margin{
	margin: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	&\@book.row{
		@include media (book-down){
			margin: 0 !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

.search-open{
	nav.nav-bar__internal{
		display: none;
	}
	.menu-item.menu-item-has-children.current-menu-item>.menu-item>a:before, .menu-item.menu-item-has-children.current-page-ancestor>.menu-item>a:before{
		display: none;
	}
}

.tablepress{
	&--contraste{
		thead th{
			background: $color_dark;
			color: $color_white;
			font-size: $size_14;
		}
		tbody{
			td{
				font-size: $size_12;
				font-weight: $weight_bold;
			}
			tr{
				border: none;
			}
			tr:nth-child(even){
				background: $color_table_interval;
			}
			tr:nth-child(off){
				background: $color_white;
			}
		}
		tfoot{
			tr{
				background: $color_dark;
				color: $color_white;
			}
			td{
				color: $color_white;
				background: transparent;
			}
		}
	}
}

.box{
	&--float{
		&--center{
			text-align: center;
		}
	}
}

.button{
	&--ghost{
		&-black{
			border-color: $color_dark;
			color: $color_dark;
			&:hover{
				border-color: $color_main_regular;
				background: $color_main_regular;
				color: $color_white;
			}
		}
	}
}

.flex-height{
	min-height: 380px;
	display: flex;
	justify-content: center;
}

.horizon[data-module="horizonte-flotante-alt"]+.horizon[data-module="horizonte-flotante-alt"],
	.horizon[data-module="horizonte-flotante"]+.horizon[data-module="horizonte-flotante"]{
	padding-top: 0;
}

.container.full-width{
	max-width: 100%;
	margin: 0;
}