.svg-marcas{
	&__ciudades{
		position: relative;
	}

	&__selector{
		position: relative;
		margin: 0 0 2rem;
		&.absolute{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
}

.svg-selector{
	&__deployer{
		@include reset-button;
		position: relative;
		width: 100%;
		font-size: $size_14;
		font-weight: $weight_bold;
		padding: .5rem;
		text-align: left;
		border: 2px solid $color_dark;
		color: $color_dark;
		background: $color_white;
		padding: .75rem;
		text-transform: uppercase;
		@include transitional;
		&:after{
			@include get-icon($icon-chevron_down);
			position: absolute;
			right: .5rem;
			font-size: 1rem;
			color: $color_dark;
			top: .5rem;
			font-weight: bold;
			@include rotate-x(0);
		}
		&.active{
			border-color: $color_main_regular;
			@include transitional;
			&:after{
				@include rotate-x(180deg);
			}
		}
	}
	&__options{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		flex-direction: column;
		background: $color_white;
		box-shadow: 2px 2px 5px rgba($color_dark, .5);
		border: 2px solid $color_main_regular;
		border-top: none;
		&.active{
			display: flex;
			top: 100%;
		}
	}
	&__option{
		border: none;
		text-align: left;
		font-size: $size_14;
		font-weight: $weight_regular;
		padding: .5rem .25rem;
		color: $color_dark;
		text-transform: uppercase;
		background: $color_white;
		&:last-child{ border: none }
		&.active,&.slider__bullet--current{
			font-weight: $weight_bold;
			background: $color_main_regular;
			color: $color_white;
		}
		&:active,&:focus{ outline: none }
	}
}

.map{
	&__city{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		@include transitional;
		svg{
			width: 100%;
		}
		
		&.active{
			position: relative;
			opacity: 1;
			z-index: 2;
			@include transitional;
		}
	}
}

[data-role="ciudad-control"]{
	cursor: pointer;
}